.auction {
    border-top: 1px solid var(--base-2);
    border-bottom: 1px solid var(--base-2);
    border-radius: 60px;
    @include lg-screen {
        border-radius: 50px;
    }
    @include md-screen {
        border-radius: 35px;
    }
    @include sm-screen {
        border-radius: 15px;
    }
    .section-heading--desc {
        margin-bottom: 30px;
        @include md-screen {
            margin-bottom: 20px;
        }
        @include sm-screen {
            margin-bottom: 10px;
        }
    }
    &--card {
        background: color-mix(in srgb, var(--black-3), transparent 50%);
        border: 1px solid var(--black-4);
        border-radius: 20px;
        padding: 8px;
        @include md-screen {
            max-width: 320px;
            padding: 5px;
            margin: auto;
        }
        &--top {
            padding: 30px;
            @include md-screen {
                padding: 20px;
            }
            h3 {
                font-size: 24px;
                line-height: 1.3;
                font-weight: 600;
                letter-spacing: -1px;
                color: var(--white-1);
                margin-bottom: 12px;
                @include xl-screen {
                    font-size: 22px;
                }
                @include md-screen {
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0;
                }
            }
            p {
                font-size: 16px;
                line-height: 1.5;
                color: var(--light-1);
                opacity: 0.8;
                margin-bottom: 0;
                @include md-screen {
                    font-size: 14px;
                }
            }
        }
        &--body {
            padding: 30px;
            background: var(--gradient-1);
            border-radius: 30px 30px 20px 20px;
            position: relative;
            overflow: hidden;
            z-index: 2;
            @include md-screen {
                padding: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 4px 1px 1px;
                background: var(--black-2);
                border-radius: 26px 26px 19px 19px;
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 300px;
                height: 300px;
                transform: translateY(50%) translateX(50%);
                background: var(--gradient-1);
                border-radius: 50%;
                filter: blur(200px);
                opacity: 0.8;
                z-index: -1;
            }
            &--title {
                font-family: var(--body-font);
                font-size: 48px;
                line-height: 1;
                font-weight: 700;
                color: transparent;
                background: var(--gradient-1);
                background-clip: text;
                margin-bottom: 30px;
                display: flex;
                align-items: flex-end;
                gap: 10px;
                @include xl-screen {
                    font-size: 35px;
                }
                @include md-screen {
                    font-size: 30px;
                    line-height: 1;
                    gap: 5px;
                }
                span {
                    font-size: 16px;
                    line-height: 1.3;
                    font-weight: 500;
                    color: var(--white-1);
                    @include xl-screen {
                        transform: translateY(-3px);
                    }
                    @include md-screen {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                img {
                    flex-shrink: 0;
                    margin-left: auto;
                }
            }
            &--counter {
                display: flex;
                align-items: flex-end;
                gap: 10px;
                margin-bottom: 30px;
                &--countdown {
                    font-size: 32px;
                    line-height: 1;
                    font-weight: 500;
                    color: var(--white-1);
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    @include xl-screen {
                        font-size: 30px;
                    }
                    @include md-screen {
                        font-size: 25px;
                    }
                    span {
                        text-align: center;
                        width: 40px;
                        height: 44px;
                        line-height: 44px;
                        font-size: 20px;
                        font-weight: 500;
                        color: var(--black-2);
                        background: var(--gradient-1);
                        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                        @include xl-screen {
                            width: 35px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 18px;
                        }
                        @include md-screen {
                            width: 30px;
                            height: 34px;
                            line-height: 34px;
                            font-size: 16px;
                        }
                    }
                }
                &--txt {
                    font-size: 16px;
                    line-height: 1.6;
                    font-weight: 500;
                    color: var(--white-1);
                    opacity: 0.8;
                    @include xl-screen {
                        font-size: 15px;
                    }
                    @include md-screen {
                        font-size: 14px;
                    }
                }
            }
            &--list {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 35px;
                li {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: var(--white-1);
                    @include xl-screen {
                        font-size: 15px;
                    }
                    @include md-screen {
                        font-size: 14px;
                    }
                    span {
                        opacity: 0.8;
                    }
                }
            }
            &--btn {
                width: 100%;
                height: 50px;
                line-height: 48px;
                display: flex;
                justify-content: space-between;
                border: 1px solid var(--base-1);
                border-radius: 30px;
                padding: 0 20px;
                font-size: 16px;
                font-weight: 500;
                color: var(--white-1);
                position: relative;
                z-index: 2;
                @include md-screen {
                    height: 40px;
                    line-height: 38px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    width: calc(100% + 2px);
                    height: calc(100% + 2px);
                    background: var(--gradient-1);
                    border-radius: 30px;
                    opacity: 0;
                    transition: .3s;
                    z-index: -1;
                }
                span {
                    text-align: center;
                    width: 35px;
                    height: 35px;
                    line-height: 37px;
                    background: var(--gradient-1);
                    border-radius: 50%;
                    color: var(--black-1);
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%) translateX(14px);
                    transition: .3s;
                    position: relative;
                    z-index: 2;
                    @include md-screen {
                        width: 30px;
                        height: 30px;
                        line-height: 32px;
                        transform: translateY(-50%) translateX(17px);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: var(--black-2);
                        border-radius: 50%;
                        opacity: 0;
                        transition: .3s;
                        z-index: -1;
                    }
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                    span {
                        color: var(--white-1);
                        transform: translateY(-50%) translateX(14px) rotate(45deg);
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.auction-page {
    &--filter {
        display: flex;
        gap: 12px;
        background: var(--black-3);
        padding: 20px;
        border: 1px solid color-mix(in srgb, var(--white-1), transparent 95%);
        border-radius: 20px;
        @include md-screen {
            gap: 10px;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;
        }
        @include sm-screen {
            gap: 7px;
            padding: 10px;
            border-radius: 15px;
        }
        select {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 128 128'%3E%3Cg%3E%3Cpath d='M64 88a3.988 3.988 0 0 1-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0L64 78.344l37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40A3.988 3.988 0 0 1 64 88z' fill='%23ffffff' /%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: calc(100% - 10px);
            background-size: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        &--item {
            width: 100%;
            height: 50px;
            display: flex;
            background: var(--black-4);
            padding: 0 20px;
            border: 1px solid color-mix(in srgb, var(--white-1), transparent 95%);
            border-radius: 12px;
            color: var(--white-1);
            outline: none;
            @include lg-screen {
                width: 100%;
                padding: 0 15px;
            }
            @include md-screen {
                width: calc(50% - 5px);
                height: 45px;
                font-size: 16px;
            }
            @include sm-screen {
                width: calc(50% - 3.5px);
                height: 40px;
                padding: 0 10px;
                border-radius: 10px;
            }
            @include msm-screen {
                width: 100%;
            }
            &:not(:first-child,:last-child) {
                width: auto;
                flex-shrink: 0;
                padding: 0;
                @include md-screen {
                    order: 3;
                }
            }
            label {
                display: flex;
                align-items: center;
                font-size: 15px;
                line-height: 1.2;
                font-weight: 300;
                color: var(--white-1);
                padding: 0 20px;
                cursor: pointer;
                @include md-screen {
                    font-size: 14px;
                    padding: 0 15px;
                }
                @include sm-screen {
                    font-size: 13px;
                    padding: 0 10px;
                }
                >span {
                    display: flex;
                    gap: 10px;
                    @include md-screen {
                        gap: 7px;
                    }
                    @include sm-screen {
                        gap: 5px;
                    }
                    span {
                        text-align: center;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        font-size: 13px;
                        position: relative;
                        z-index: 2;
                        @include md-screen {
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                        }
                        i {
                            color: transparent;
                            background: var(--gradient-1);
                            background-clip: text;
                            transition: .3s;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: var(--gradient-1);
                            border-radius: 3px;
                            z-index: -1;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            inset: 1px;
                            background: var(--black-4);
                            border-radius: 2px;
                            transition: .3s;
                            z-index: -1;
                        }
                    }
                }
                input {
                    width: 0;
                    height: 0;
                    &:checked + span {
                        span {
                            i {
                                color: var(--black-2);
                            }
                            &::after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            input:not([type=checkbox]) {
                background: transparent;
                border: 0;
                outline: 0;
                color: var(--white-1);
                width: 100%;
            }
            button {
                position: relative;
                top: 50%;
                transform: translateY(-50%) translateX(12px);
                flex-shrink: 0;
                width: 34px;
                height: 34px;
                line-height: 34px;
                background: var(--gradient-1);
                border-radius: 6px;
                @include lg-screen {
                    transform: translateY(-50%) translateX(8px);
                }
                @include md-screen {
                    width: 29px;
                    height: 29px;
                    line-height: 30px;
                    transform: translateY(-50%) translateX(8px);
                }
                @include sm-screen {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    transform: translateY(-50%) translateX(6px);
                }
            }
        }
    }
}

.auction-details {
    color: var(--white-1);
    position: relative;
    overflow: hidden;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: 150px;
        left: 0;
        transform: translateX(-50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.5;
        z-index: -1;
        @include lg-screen {
            width: 350px;
            height: 350px;
        }
        @include md-screen {
            top: 100px;
            width: 250px;
            height: 250px;
        }
        @include sm-screen {
            top: 50px;
            width: 150px;
            height: 150px;
            filter: blur(100px);
        }
        @include msm-screen {
            width: 100px;
            height: 100px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 150px;
        right: 0;
        transform: translateX(50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.5;
        z-index: -1;
        @include lg-screen {
            width: 350px;
            height: 350px;
        }
        @include md-screen {
            top: 100px;
            width: 250px;
            height: 250px;
        }
        @include sm-screen {
            top: 50px;
            width: 150px;
            height: 150px;
            filter: blur(100px);
        }
        @include msm-screen {
            width: 100px;
            height: 100px;
        }
    }
    &--title {
        font-size: 40px;
        line-height: 1.3;
        font-weight: 600;
        letter-spacing: -1px;
        color: var(--white-1);
        margin-bottom: 12px;
        @include lg-screen {
            font-size: 30px;
        }
        @include md-screen {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: normal;
        }
        @include sm-screen {
            font-size: 20px;
        }
    }
    &--desc {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: var(--light-1);
        margin-bottom: 24px;
        @include lg-screen {
            font-size: 16px;
        }
        @include sm-screen {
            font-size: 14px;
        }
    }
    &--return {
        font-family: var(--body-font);
        font-size: 60px;
        line-height: 1.2;
        font-weight: 700;
        color: var(--base-2);
        margin-bottom: 40px;
        @include lg-screen {
            font-size: 45px;
            margin-bottom: 35px;
        }
        @include md-screen {
            font-size: 40px;
        }
        @include sm-screen {
            font-size: 35px;
            margin-bottom: 30px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
            color: var(--light-1);
            margin-left: 5px;
            @include lg-screen {
                font-size: 14px;
            }
            @include sm-screen {
                font-size: 12px;
            }
        }
    }
    &--list {
        margin-bottom: 40px;
        @include lg-screen {
            margin-bottom: 35px;
        }
        @include sm-screen {
            margin-bottom: 30px;
        }
        &--title {
            font-family: var(--heading-font);
            font-size: 28px;
            line-height: 1.3;
            font-weight: 500;
            color: var(--white-1);
            padding-bottom: 24px;
            margin-bottom: 0;
            @include lg-screen {
                font-size: 22px;
                padding-bottom: 18px;
            }
            @include md-screen {
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 14px;
            }
            @include sm-screen {
                font-size: 18px;
            }
            span {
                color: transparent;
                background: linear-gradient(to right, var(--base-1), var(--base-2));
                background-clip: text;
                position: relative;
                @include md-screen {
                    font-weight: 500;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--gradient-1);
                    @include lg-screen {
                        bottom: 4px;
                    }
                    @include sm-screen {
                        bottom: 3px;
                    }
                }
            }
        }
        &--item {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 600;
            color: var(--white-1);
            padding: 13px 0;
            position: relative;
            @include xl-screen {
                font-size: 18px;
            }
            @include lg-screen {
                font-size: 16px;
                padding: 10px 0;
            }
            @include sm-screen {
                font-size: 14px;
            }
            &:last-child {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--gradient-1);
                    opacity: 0.3;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--gradient-1);
                opacity: 0.3;
            }
            span {
                font-size: 18px;
                font-weight: 400;
                color: color-mix(in srgb, var(--white-1), transparent 40%);
                margin-left: 25px;
                @include xl-screen {
                    font-size: 16px;
                }
                @include lg-screen {
                    font-size: 14px;
                    margin-left: 20px;
                }
                @include sm-screen {
                    font-size: 12px;
                    margin-left: 15px;
                }
            }
        }
    }
    &--highlight {
        width: max-content;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 500;
        color: transparent;
        background: var(--gradient-1);
        background-clip: text;
        margin-bottom: 16px;
        position: relative;
        @include xl-screen {
            font-size: 22px;
        }
        @include lg-screen {
            font-size: 20px;
        }
        @include md-screen {
            font-size: 18px;
        }
        @include sm-screen {
            font-size: 16px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--gradient-1);
        }
    }
    &--subtitle {
        font-family: var(--body-font);
        font-size: 32px;
        line-height: 1.5;
        font-weight: 500;
        color: var(--white-1);
        margin-bottom: 20px;
        @include xl-screen {
            font-size: 30px;
        }
        @include lg-screen {
            font-size: 28px;
        }
        @include md-screen {
            font-size: 26px;
        }
        @include sm-screen {
            font-size: 24px;
        }
        span {
            font-size: 18px;
            font-weight: 400;
            margin-left: 5px;
            @include xl-screen {
                font-size: 16px;
            }
            @include lg-screen {
                font-size: 14px;
                font-weight: 300;
            }
            @include sm-screen {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.5px;
            }
        }
    }
    &--rules {
        &--list {
            li {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 300;
                color: var(--white-1);
                padding: 13px 0;
                position: relative;
                @include xl-screen {
                    font-size: 16px;
                }
                @include lg-screen {
                    font-size: 14px;
                    padding: 10px 0;
                }
                @include sm-screen {
                    font-size: 12px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--gradient-1);
                    opacity: 0.25;
                }
                &:last-child {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: var(--gradient-1);
                        opacity: 0.25;
                    }
                }
                span {
                    font-size: 20px;
                    color: transparent;
                    background: var(--gradient-1);
                    background-clip: text;
                    margin: 0 12px;
                    @include xl-screen {
                        font-size: 18px;
                        margin: 0 10px;
                    }
                    @include lg-screen {
                        font-size: 16px;
                        margin: 0 8px;
                    }
                    @include sm-screen {
                        font-size: 14px;
                        margin: 0 6px;
                    }
                }
            }
        }
    }
    &--form {
        background: var(--gradient-1);
        border-radius: 32px 32px 20px 20px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        @include lg-screen {
            border-radius: 25px 25px 15px 15px;
        }
        @include md-screen {
            border-radius: 20px 20px 15px 15px;
        }
        @include sm-screen {
            border-radius: 15px 15px 10px 10px;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 4px 1px 1px;
            background: var(--black-2);
            border-radius: 32px 32px 20px 20px;
            z-index: -1;
            @include lg-screen {
                border-radius: 25px 25px 15px 15px;
            }
            @include md-screen {
                border-radius: 20px 20px 15px 15px;
            }
            @include sm-screen {
                border-radius: 15px 15px 10px 10px;
            }
        }
        &--title {
            text-align: center;
            font-size: 24px;
            line-height: 1.3;
            font-weight: 600;
            color: var(--white-1);
            padding: 32px;
            margin-bottom: 0;
            position: relative;
            @include lg-screen {
                font-size: 20px;
                padding: 25px;
            }
            @include md-screen {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.5px;
                padding: 20px;
            }
            @include sm-screen {
                font-size: 16px;
                padding: 15px;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--gradient-1);
            }
        }
        &--body {
            padding: 32px;
            @include lg-screen {
                padding: 25px;
            }
            @include md-screen {
                padding: 20px;
            }
            @include sm-screen {
                padding: 15px;
            }
        }
        &--subtitle {
            width: max-content;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 500;
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
            margin-bottom: 12px;
            position: relative;
            @include lg-screen {
                font-size: 18px;
            }
            @include md-screen {
                font-size: 16px;
            }
            @include sm-screen {
                font-size: 14px;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 4px;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--gradient-1);
                @include lg-screen {
                    bottom: 3px;
                }
                @include md-screen {
                    bottom: 2px;
                }
            }
        }
        &--list {
            margin-bottom: 32px;
            @include lg-screen {
                margin-bottom: 27px;
            }
            @include sm-screen {
                margin-bottom: 22px;
            }
            ul {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: var(--gradient-1);
                    opacity: 0.25;
                }
                li {
                    display: flex;
                    justify-content: space-between;
                    font-family: var(--heading-font);
                    font-size: 16px;
                    line-height: 1.3;
                    font-weight: 500;
                    color: var(--white-1);
                    padding: 13px 0;
                    position: relative;
                    @include lg-screen {
                        font-size: 14px;
                        font-weight: 400;
                        padding: 10px 0;
                    }
                    @include sm-screen {
                        font-size: 12px;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: var(--gradient-1);
                        opacity: 0.25;
                    }
                    span {
                        font-family: var(--body-font);
                        color: var(--light-1);
                    }
                }
            }
        }
        &--label {
            display: block;
            font-family: var(--heading-font);
            font-size: 20px;
            line-height: 1.3;
            font-weight: 500;
            color: var(--white-1);
            margin-bottom: 12px;
            @include xl-screen {
                font-size: 18px;
            }
            @include lg-screen {
                font-size: 16px;
            }
            @include sm-screen {
                font-size: 14px;
                font-weight: 400;
            }
        }
        &--input {
            display: block;
            width: 100%;
            height: 50px;
            color: var(--white-1);
            padding: 0 20px;
            background: color-mix(in srgb, var(--white-1), transparent 94%);
            border: 1px solid color-mix(in srgb, var(--white-1), transparent 94%);
            border-radius: 12px;
            outline: none;
            -moz-appearance: textfield;
            appearance: textfield;
            margin-bottom: 32px;
            @include xl-screen {
                height: 45px;
                border-radius: 10px;
            }
            @include lg-screen {
                height: 40px;
                padding: 0 15px;
                border-radius: 8px;
                margin-bottom: 27px;
            }
            @include sm-screen {
                height: 35px;
                border-radius: 6px;
                font-size: 12px;
                margin-bottom: 22px;
            }
            &::-webkit-inner-spin-button {
                display: none;
            }
        }
        &--quick-select {
            display: flex;
            align-items: center;
            column-gap: 50px;
            row-gap: 20px;
            justify-content: space-between;
            margin-bottom: 32px;
            @include xl-screen {
                column-gap: 20px;
            }
            @include lg-screen {
                column-gap: 15px;
                margin-bottom: 27px;
            }
            @include sm-screen {
                column-gap: 20px;
                margin-bottom: 22px;
            }
            .auction-details--form--subtitle {
                flex-shrink: 0;
                margin-bottom: 0;
            }
            &--btn-group {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: 8px;
                @include lg-screen {
                    gap: 6px;
                }
                @include sm-screen {
                    gap: 4px;
                }
            }
            &--btn {
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                font-weight: 400;
                color: var(--light-1);
                padding: 0 20px;
                background: color-mix(in srgb, var(--white-1), transparent 94%);
                border: 1px solid color-mix(in srgb, var(--white-1), transparent 94%);
                border-radius: 6px;
                position: relative;
                z-index: 2;
                @include xl-screen {
                    height: 45px;
                    line-height: 45px;
                    font-size: 12px;
                    padding: 0 13px;
                }
                @include lg-screen {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px;
                    border-radius: 4px;
                }
                @include sm-screen {
                    height: 35px;
                    line-height: 35px;
                    font-size: 10px;
                    border-radius: 3px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: var(--gradient-1);
                    border-radius: 6px;
                    opacity: 0;
                    transition: .6s;
                    z-index: -1;
                    @include lg-screen {
                        border-radius: 4px;
                    }
                    @include sm-screen {
                        border-radius: 3px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    inset: 1px;
                    background: var(--black-3);
                    border-radius: 6px;
                    z-index: -1;
                    @include lg-screen {
                        border-radius: 4px;
                    }
                    @include sm-screen {
                        border-radius: 3px;
                    }
                }
                &.active {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
        &--your-share {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            @include lg-screen {
                margin-bottom: 27px;
            }
            @include sm-screen {
                margin-bottom: 22px;
            }
            .auction-details--form--subtitle {
                margin-bottom: 0;
            }
            span {
                font-size: 16px;
                line-height: 1.5;
                font-weight: 500;
                color: var(--light-1);
                @include lg-screen {
                    font-size: 14px;
                }
                @include sm-screen {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        .btn {
            width: 100%;
            border-radius: 12px;
            margin-bottom: 24px;
            @include xl-screen {
                border-radius: 10px;
            }
            @include lg-screen {
                border-radius: 8px;
            }
            @include sm-screen {
                border-radius: 6px;
            }
        }
        &--footer {
            &--list {
                padding-left: 30px;
                list-style: disc;
                font-size: 16px;
                line-height: 1.2;
                font-weight: 300;
                color: var(--white-1);
                display: flex;
                flex-direction: column;
                gap: 12px;
                @include lg-screen {
                    padding-left: 25px;
                    font-size: 14px;
                }
                @include sm-screen {
                    padding-left: 20px;
                    font-size: 12px;
                }
            }
        }
    }
}

.auction-information {
    background: var(--gradient-1);
    border-radius: 60px;
    position: relative;
    z-index: 2;
    @include lg-screen {
        border-radius: 50px;
    }
    @include md-screen {
        border-radius: 35px;
    }
    @include sm-screen {
        border-radius: 15px;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 1px 0;
        background: var(--black-2);
        border-radius: 60px;
        z-index: -1;
        @include lg-screen {
            border-radius: 50px;
        }
        @include md-screen {
            border-radius: 35px;
        }
        @include sm-screen {
            border-radius: 15px;
        }
    }
    &--slot {
        display: flex;
        align-items: center;
        gap: 32px;
        @include md-screen {
            gap: 25px;
        }
        @include sm-screen {
            gap: 20px;
        }
        @include xsm-screen {
            flex-wrap: wrap;
            gap: 10px;
        }
        &--txt {
            flex-shrink: 0;
            font-family: var(--heading-font);
            font-size: 32px;
            line-height: 1.3;
            font-weight: 500;
            color: var(--white-1);
            margin-bottom: 0;
            @include xxl-screen {
                font-size: 30px;
            }
            @include xl-screen {
                font-size: 28px;
            }
            @include lg-screen {
                font-size: 26px;
            }
            @include md-screen {
                font-size: 24px;
            }
            @include sm-screen {
                font-size: 20px;
            }
            span {
                color: transparent;
                background: var(--gradient-1);
                background-clip: text;
            }
        }
        &--progress {
            width: 100%;
            height: 32px;
            border-radius: 16px;
            background: var(--gradient-1);
            padding: 6px;
            position: relative;
            z-index: 2;
            @include xl-screen {
                height: 30px;
            }
            @include lg-screen {
                height: 28px;
                padding: 5px;
            }
            @include md-screen {
                height: 25px;
                padding: 4px;
            }
            @include sm-screen {
                height: 22px;
                padding: 3px;
            }
            @include xsm-screen {
                height: 17px;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 1px;
                background: var(--black-2);
                border-radius: 15px;
                z-index: -1;
            }
        }
        &--progressbar {
            height: 100%;
            background: var(--gradient-1);
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 30%;
                background: linear-gradient(to right, var(--black-2) 40%, transparent 40%);
                background-size: 20px 100%;
                transform: skewX(-35deg);
                @include xl-screen {
                    background-size: 18px 100%;
                }
                @include lg-screen {
                    background-size: 16px 100%;
                }
                @include md-screen {
                    background-size: 13px 100%;
                }
                @include sm-screen {
                    background-size: 10px 100%;
                }
            }
        }
    }
    &--content {
        color: var(--white-1);
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            width: 500px;
            height: 500px;
            background: var(--gradient-1);
            border-radius: 50%;
            filter: blur(120px);
            opacity: 0.3;
            z-index: -1;
            @include xl-screen {
                width: 450px;
                height: 450px;
                filter: blur(175px);
            }
            @include lg-screen {
                width: 350px;
                height: 350px;
                filter: blur(150px);
            }
            @include md-screen {
                width: 250px;
                height: 250px;
                filter: blur(125px);
                opacity: 0.4;
            }
            @include sm-screen {
                width: 150px;
                height: 150px;
                filter: blur(100px);
                opacity: 0.5;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 150px;
            right: 0;
            transform: translateX(50%);
            width: 500px;
            height: 500px;
            background: var(--gradient-1);
            border-radius: 50%;
            filter: blur(200px);
            opacity: 0.7;
            z-index: -1;
            @include xl-screen {
                width: 450px;
                height: 450px;
            }
            @include lg-screen {
                width: 350px;
                height: 350px;
            }
            @include md-screen {
                width: 250px;
                height: 250px;
                filter: blur(125px);
            }
            @include sm-screen {
                width: 150px;
                height: 150px;
                filter: blur(100px);
            }
        }
        &--title {
            font-size: 32px;
            line-height: 1.4;
            font-weight: 500;
            color: var(--white-1);
            margin-bottom: 32px;
            @include xl-screen {
                font-size: 30px;
            }
            @include lg-screen {
                font-size: 28px;
                margin-bottom: 27px;
            }
            @include md-screen {
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 22px;
            }
            @include sm-screen {
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 17px;
            }
        }
        &--desc {
            font-family: var(--heading-font);
            font-size: 24px;
            line-height: 1.4;
            font-weight: 300;
            color: var(--light-1);
            margin-bottom: 32px;
            @include xl-screen {
                font-size: 22px;
            }
            @include lg-screen {
                font-size: 20px;
                margin-bottom: 27px;
            }
            @include md-screen {
                font-size: 18px;
            }
            @include sm-screen {
                font-size: 14px;
                margin-bottom: 22px;
            }
        }
        &--subtitle {
            font-size: 24px;
            line-height: 1.1;
            font-weight: 500;
            color: var(--white-1);
            margin-bottom: 24px;
            @include xl-screen {
                font-size: 22px;
                margin-bottom: 21px;
            }
            @include md-screen {
                font-size: 20px;
                margin-bottom: 19px;
            }
            @include sm-screen {
                font-size: 18px;
                margin-bottom: 14px;
            }
        }
        &--list {
            font-size: 17px;
            line-height: 1.3;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include xl-screen {
                font-size: 16px;
            }
            @include md-screen {
                font-size: 15px;
            }
            @include sm-screen {
                font-size: 13px;
            }
            span {
                font-size: 20px;
                line-height: 1;
                color: transparent;
                background: var(--gradient-1);
                background-clip: text;
                margin-right: 12px;
                @include xl-screen {
                    font-size: 18px;
                    margin-right: 10px;
                }
                @include md-screen {
                    font-size: 17px;
                    margin-right: 8px;
                }
                @include sm-screen {
                    font-size: 15px;
                    margin-right: 6px;
                }
            }
        }
    }
}

.auction-timeline {
    &--inner {
        margin-bottom: 2px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to left, transparent, var(--black-9), transparent);
        }
    }
    &--title {
        text-align: center;
        font-size: 32px;
        line-height: 1.1;
        font-weight: 600;
        color: var(--white-1);
        margin-bottom: 60px;
        span {
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--gradient-1);
            }
        }
    }
    &--grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        position: relative;
        z-index: 2;
        @include msm-screen {
            flex-direction: column;
            gap: 24px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 94px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% / 5 * 4);
            height: 2px;
            background: var(--gradient-1);
            z-index: -1;
            @include sm-screen {
                top: 69px;
            }
            @include msm-screen {
                top: 50%;
                left: 72px;
                width: 2px;
                height: calc(100% / 5 * 4 + 24px);
                transform: translate(-50%, -50%);
            }
        }
    }
    &--card {
        width: calc(100% / 5 - 9.6px);
        text-align: center;
        position: relative;
        @include msm-screen {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 60px;
            text-align: left;
        }
        &::after {
            content: "";
            position: absolute;
            top: 89px;
            left: 50%;
            transform: translateX(-50%);
            width: 12px;
            height: 12px;
            background: var(--gradient-1);
            border-radius: 50%;
            @include sm-screen {
                top: 65px;
                width: 10px;
                height: 10px;
            }
            @include msm-screen {
                top: 50%;
                left: 72px;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
            }
        }
        &--number {
            text-align: center;
            width: 56px;
            height: 62px;
            line-height: 62px;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 66px;
            position: relative;
            z-index: 2;
            @include sm-screen {
                width: 42px;
                height: 48px;
                line-height: 48px;
                font-size: 16px;
                margin-bottom: 46px;
            }
            @include msm-screen {
                margin-bottom: 0;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: var(--gradient-1);
                clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 1px;
                background: var(--black-2);
                clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                transition: .3s;
                z-index: -1;
            }
            span {
                color: transparent;
                background: var(--gradient-1);
                background-clip: text;
                transition: .3s;
            }
        }
        &--title {
            font-size: 22px;
            line-height: 1.2;
            font-weight: 500;
            color: var(--white-1);
            margin-bottom: 0;
            @include sm-screen {
                font-size: 16px;
            }
        }
        &--info {
            font-size: 16px;
            line-height: 1.3;
            font-weight: 400;
            color: var(--light-1);
            margin-top: 12px;
            margin-bottom: 0;
            @include sm-screen {
                font-size: 12px;
                margin-top: 6px;
            }
        }
        &:hover {
            .auction-timeline--card--number {
                &::after {
                    opacity: 0;
                }
                span {
                    color: var(--black-2);
                }
            }
        }
    }
}

.auction-result {
    &--table {
        background-size: 25%;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            width: 1500px;
            height: 200px;
            background: var(--gradient-1);
            border-radius: 50%;
            filter: blur(120px);
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            width: 1500px;
            height: 200px;
            background: var(--gradient-1);
            border-radius: 50%;
            filter: blur(120px);
            z-index: -1;
        }
        .table {
            margin-bottom: 0;
            th {
                font-family: var(--heading-font);
                font-size: 24px;
                line-height: 1.5;
                font-weight: 500;
                color: var(--white-1);
                padding: 20px 32px;
                background: color-mix(in srgb, var(--black-2), transparent 15%);
                border-bottom: 5px solid transparent;
                position: relative;
                z-index: 2;
                &:first-child {
                    &::after {
                        border-right-width: 6px;
                    }
                }
                &:last-child {
                    &::after {
                        border-right-width: 0;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: -5px;
                    right: 0;
                    border-bottom: 5px solid transparent;
                    border-right: 1px solid transparent;
                    border-image: var(--gradient-1);
                    border-image-slice: 1;
                }
            }
            td {
                width: 25%;
                font-size: 18px;
                line-height: 1.5;
                font-weight: 300;
                color: var(--light-1);
                padding: 20px 32px;
                background: color-mix(in srgb, var(--black-2), transparent 10%);
                border: 0;
                position: relative;
                z-index: 2;
                &:first-child {
                    &::after {
                        border-right-width: 6px;
                    }
                }
                &:last-child {
                    &::after {
                        border-right-width: 0;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-top: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-image: var(--gradient-1);
                    border-image-slice: 1;
                }
            }
        }
    }
}