.cta {
    margin-bottom: -165px;
    position: relative;
    z-index: 3;
    &--inner {
        text-align: center;
        padding: 90px 50px;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--gradient-1);
            z-index: -1;
        }
    }
    &--bg {
        position: absolute;
        inset: 1px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        z-index: -1;
    }
    &--title {
        width: max-content;
        font-size: 48px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: -2px;
        color: transparent;
        background: var(--gradient-1);
        background-clip: text;
        padding-bottom: 4px;
        margin: 0 auto 16px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        color: color-mix(in srgb, var(--light-1), transparent 20%);
        margin-bottom: 32px;
    }
    .btn {
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--gradient-1);
            border-radius: 30px;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 1px;
            background: var(--black-2);
            border-radius: 30px;
            z-index: -1;
        }
    }
}