.faq {
    .accordion {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &-item {
            background: linear-gradient(color-mix(in srgb, var(--black-4), transparent 40%), transparent);
            border: 0;
            border-radius: 40px;
            position: relative;
            overflow: hidden;
            z-index: 2;
            &::after {
                content: "";
                position: absolute;
                inset: 1px;
                background: var(--black-2);
                background-image: linear-gradient(color-mix(in srgb, var(--black-3), transparent 70%), color-mix(in srgb, var(--black-3), transparent 70%));
                border-radius: 40px;
                transition: .3s;
                z-index: -2;
            }
            .show {
                .accordion-body {
                    &::before, &::after {
                        opacity: 1;
                    }
                }
            }
        }
        &-button {
            background: transparent;
            box-shadow: 0 0;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            color: var(--white-1);
            padding: 28px;
        }
        &-body {
            font-size: 16px;
            line-height: 1.5;
            color: var(--light-1);
            padding: 0 50px 24px;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: var(--gradient-1);
                border-radius: 40px;
                opacity: 0;
                transition: .3s;
                z-index: -2;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -80px;
                right: -150px;
                width: 250px;
                height: 100px;
                background: var(--gradient-1);
                filter: blur(70px);
                transform: rotate(-30deg);
                opacity: 0;
                transition: .3s;
                z-index: -1;
            }
            p {
                font-size: 16px;
                line-height: 1.5;
                color: var(--light-1);
                margin-bottom: 0;
            }
        }
    }
}