.overview {
    &--content {
        display: flex;
        align-items: center;
        gap: 10px;
        &--img {
            display: flex;
            span {
                text-align: center;
                width: 47px;
                height: 47px;
                line-height: 47px;
                font-size: 16px;
                font-weight: 600;
                background: var(--gradient-1);
                border-radius: 50%;
                overflow: hidden;
                &:not(:first-child) {
                    margin-left: -16px;
                }
            }
        }
        &--txt {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: var(--white-1);
            span {
                display: block;
                font-size: 24px;
                line-height: 1.1;
                font-weight: 700;
                margin-bottom: 2px;
            }
        }
    }
    &--grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    &--card {
        width: calc(50% - 6px);
        padding: 35px 40px;
        border: 1px solid color-mix(in srgb, var(--white-1), transparent 93%);
        border-radius: 30px;
        position: relative;
        z-index: 2;
        &--bg {
            position: absolute;
            inset: 12px;
            border-radius: 26px;
            overflow: hidden;
            opacity: 0.25;
            z-index: -1;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, color-mix(in srgb, var(--black-2), transparent 90%) 60%, var(--base-1));
            }
        }
        p {
            font-size: 18px;
            line-height: 1.4;
            font-weight: 600;
            color: var(--white-1);
            margin-bottom: 20px;
        }
        h3 {
            font-size: 48px;
            line-height: 1;
            font-weight: 500;
            letter-spacing: -1px;
            color: var(--base-2);
            margin: -3px 0;
            span {
                margin: -5px 0;
            }
        }
    }
}