.referral {
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: -260px;
        left: -280px;
        width: 560px;
        height: 560px;
        background: var(--gradient-1);
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(200px);
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: -260px;
        right: -280px;
        width: 560px;
        height: 560px;
        background: var(--gradient-1);
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(200px);
        z-index: -1;
    }
}