.vip-level {
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: -260px;
        left: -280px;
        width: 560px;
        height: 560px;
        background: var(--gradient-1);
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(200px);
        z-index: -1;
        @include xl-screen {
            left: -200px;
            width: 450px;
            height: 450px;
            filter: blur(180px);
        }
        @include lg-screen {
            top: -200px;
            left: -150px;
            width: 350px;
            height: 350px;
            opacity: 0.5;
        }
        @include md-screen {
            top: -150px;
            left: -100px;
            width: 250px;
            height: 250px;
            filter: blur(150px);
            opacity: 0.6;
        }
        @include sm-screen {
            top: -100px;
            left: -50px;
            width: 150px;
            height: 150px;
            filter: blur(100px);
            opacity: 0.7;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: -260px;
        right: -280px;
        width: 560px;
        height: 560px;
        background: var(--gradient-1);
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(200px);
        z-index: -1;
        @include xl-screen {
            right: -200px;
            width: 450px;
            height: 450px;
            filter: blur(180px);
        }
        @include lg-screen {
            top: -200px;
            right: -150px;
            width: 350px;
            height: 350px;
            opacity: 0.5;
        }
        @include md-screen {
            top: -150px;
            right: -100px;
            width: 250px;
            height: 250px;
            filter: blur(150px);
            opacity: 0.6;
        }
        @include sm-screen {
            top: -100px;
            right: -50px;
            width: 150px;
            height: 150px;
            filter: blur(100px);
            opacity: 0.7;
        }
    }
    &--card {
        padding: 8px;
        background: var(--gradient-1);
        border-radius: 30px 30px 20px 20px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            inset: 2px 1px 1px;
            background: var(--black-2);
            border-radius: 30px 30px 20px 20px;
            z-index: -1;
        }
        &--bg {
            position: absolute;
            inset: 1px;
            background-repeat: no-repeat;
            border-radius: 30px 30px 20px 20px;
            z-index: -1;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%) translateY(40%);
                width: 50%;
                aspect-ratio: 1 / 1;
                background: var(--gradient-1);
                border-radius: 50%;
                filter: blur(140px);
                z-index: -1;
            }
        }
        &--noise {
            position: absolute;
            inset: 1px;
            background-repeat: no-repeat;
            border-radius: 30px 30px 20px 20px;
            opacity: 100%;
            z-index: -1;
        }
        &--title {
            font-size: 32px;
            line-height: 1.1;
            font-weight: 600;
            letter-spacing: -1px;
            text-align: center;
            color: var(--white-1);
            padding: 25px;
            margin-bottom: 0;
        }
        &--list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            backdrop-filter: blur(3px);
            background: linear-gradient(color-mix(in srgb, var(--base-2), transparent 80%), color-mix(in srgb, var(--black-1), transparent 90%));
            border: 1px solid color-mix(in srgb, var(--base-2), transparent 70%);
            border-radius: 20px;
            padding: 4px;
            li {
                background:color-mix(in srgb, var(--white-1), transparent 94%);
                border-radius: 16px;
                text-align: center;
                font-size: 15px;
                line-height: 1.2;
                color: var(--white-1);
                font-weight: 500;
                padding: 12px;
                span {
                    width: max-content;
                    display: block;
                    font-size: 18px;
                    font-weight: 700;
                    color: transparent;
                    background: var(--gradient-1);
                    background-clip: text;
                    margin: 8px auto 0;
                }
            }
        }
    }
}