@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap");
:root {
  --heading-font: "Jost", sans-serif;
  --body-font: "Manrope", sans-serif;
  /* Whites */
  --white-1: rgb(255, 255, 255);
  --white-2: rgb(253, 253, 253);
  --white-3: rgb(250, 250, 250);
  --white-4: rgb(247, 247, 247);
  --white-5: rgb(242, 242, 242);
  --white-6: rgb(237, 237, 237);
  --white-7: rgb(230, 230, 230);
  --white-8: rgb(222, 222, 222);
  --white-9: rgb(214, 214, 214);
  /* Blacks */
  --black-1: rgb(0, 0, 0);
  --black-2: rgb(10, 10, 10);
  --black-3: rgb(20, 20, 20);
  --black-4: rgb(31, 31, 31);
  --black-5: rgb(42, 42, 42);
  --black-6: rgb(51, 51, 51);
  --black-7: rgb(77, 77, 77);
  --black-8: rgb(102, 102, 102);
  --black-9: rgb(128, 128, 128);
  /* Accent & Lights */
  --light-1: rgb(229, 229, 229);
  --base-1: rgb(220, 186, 88);
  --base-2: rgb(186, 123, 7);
  /* Gradients */
  --black-gradient: linear-gradient(to left, rgba(3, 7, 10, 0.59), rgba(3, 7, 10, 0.67), rgba(3, 7, 10, 0.59));
  --gradient-1: linear-gradient(to left, var(--base-2), var(--base-1), var(--base-2));
}

/* ============================ Media Breakpoint for Each Device Start ============================ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: hsl(var(--body-color));
  word-break: break-word;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 18px;
  background: var(--black-2);
  overflow-x: clip;
  line-height: 1.55;
}
@media screen and (max-width: 1199px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  font-family: var(--heading-font);
  line-height: 1.3;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 15px 0;
  }
}

h1 {
  font-size: clamp(1.75rem, 0.1327rem + 3.3694vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 0.3542rem + 2.6474vw, 3rem);
}

h3 {
  font-size: clamp(1.375rem, 0.3353rem + 2.1661vw, 2.5rem);
}

h4 {
  font-size: clamp(1.25rem, 0.5569rem + 1.444vw, 2rem);
}

h5 {
  font-size: clamp(1.125rem, 0.7784rem + 0.722vw, 1.5rem);
}

h6 {
  font-size: clamp(1rem, 0.769rem + 0.4813vw, 1.25rem);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  line-height: 1.3;
}

a {
  display: inline-block;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  text-decoration: none;
  color: hsl(var(--base));
  line-height: inherit;
}

a:hover {
  color: hsl(var(--base));
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}
button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea {
  vertical-align: middle;
}

i {
  display: inline-block;
}

section {
  overflow: hidden;
}

.small, small {
  font-size: 0.8em;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1384px;
  }
}
.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.section-heading {
  text-align: center;
  margin-bottom: 60px;
}
.section-heading.text-start .section-heading--subtitle {
  margin-left: 0;
}
.section-heading--subtitle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0 auto 16px;
}
.section-heading--subtitle img {
  height: 19px;
}
.section-heading--subtitle span {
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
}
.section-heading--title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--white-1);
  margin-bottom: 16px;
}
.section-heading--title span {
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
  position: relative;
}
.section-heading--title span::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--base-1);
}
.section-heading--desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-1);
  margin-bottom: 0;
}

.section-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.btn {
  padding: 8px 24px;
  border: 0;
  border-radius: 60px;
  font-size: 16px;
  line-height: 2.25;
  font-weight: 500;
  background-repeat: no-repeat !important;
  background-size: 150% !important;
  background-position-x: left !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--icon {
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: var(--white-1);
  border-radius: 50%;
  color: initial;
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--icon i {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
.btn-primary {
  color: var(--black-1);
  background: -webkit-gradient(linear, left top, right top, from(var(--base-2)), color-stop(var(--base-1)), color-stop(var(--base-2)), to(var(--base-1)));
  background: linear-gradient(to right, var(--base-2), var(--base-1), var(--base-2), var(--base-1));
}
.btn-primary .btn--icon {
  background: var(--black-1);
  color: var(--base-1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: var(--black-1) !important;
}
.btn-secondary {
  color: var(--base-1);
  background: var(--black-1);
}
.btn-secondary .btn--icon {
  background: var(--gradient-1);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: var(--base-1) !important;
  background: var(--black-2) !important;
}
.btn-danger {
  background: -webkit-gradient(linear, left top, right top, from(var(--base-2)), color-stop(var(--base-1)), color-stop(var(--base-2)), to(var(--base-1)));
  background: linear-gradient(to right, var(--base-2), var(--base-1), var(--base-2), var(--base-1));
}
.btn-success {
  background: -webkit-gradient(linear, left top, right top, from(var(--base-2)), color-stop(var(--base-1)), color-stop(var(--base-2)), to(var(--base-1)));
  background: linear-gradient(to right, var(--base-2), var(--base-1), var(--base-2), var(--base-1));
}
.btn-warning {
  background: -webkit-gradient(linear, left top, right top, from(var(--base-2)), color-stop(var(--base-1)), color-stop(var(--base-2)), to(var(--base-1)));
  background: linear-gradient(to right, var(--base-2), var(--base-1), var(--base-2), var(--base-1));
}
.btn-info {
  background: -webkit-gradient(linear, left top, right top, from(var(--base-2)), color-stop(var(--base-1)), color-stop(var(--base-2)), to(var(--base-1)));
  background: linear-gradient(to right, var(--base-2), var(--base-1), var(--base-2), var(--base-1));
}
.btn:hover, .btn:focus, .btn:active {
  background-position-x: right !important;
}
.btn:hover .btn--icon, .btn:focus .btn--icon, .btn:active .btn--icon {
  -webkit-transform: translateX(16px) rotate(45deg);
          transform: translateX(16px) rotate(45deg);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
.header--top {
  padding: 20px 0;
}
.header--top--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header--top--content--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
}
.header--top--content p {
  font-size: 15px;
  color: var(--black-9);
  line-height: 1;
  margin-bottom: 5px;
}
.header--top--content p i {
  font-size: 20px;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
}
.header--top--content p a {
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
  padding-bottom: 2px;
  font-weight: 600;
  position: relative;
}
.header--top--content p a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient-1);
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}
.header--bottom--left-menu {
  position: relative;
  z-index: 2;
}
.header--bottom--left-menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  width: 50vw;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(var(--base-1)), to(var(--base-2)));
  background: linear-gradient(to left, var(--base-1), var(--base-2));
  -webkit-transform: skewX(-32deg);
          transform: skewX(-32deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  z-index: -1;
}
.header--bottom--left-menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 25px);
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--base-2)), color-stop(var(--base-1)), to(var(--base-2)));
  background: linear-gradient(var(--base-2), var(--base-1), var(--base-2));
  -webkit-transform: skewX(-32deg);
          transform: skewX(-32deg);
}
.header--bottom--right-menu {
  position: relative;
  z-index: 2;
}
.header--bottom--right-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 50vw;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--base-1)), to(var(--base-2)));
  background: linear-gradient(to right, var(--base-1), var(--base-2));
  -webkit-transform: skewX(32deg);
          transform: skewX(32deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  z-index: -1;
}
.header--bottom--right-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: calc(100% + 25px);
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--base-2)), color-stop(var(--base-1)), to(var(--base-2)));
  background: linear-gradient(var(--base-2), var(--base-1), var(--base-2));
  -webkit-transform: skewX(32deg);
          transform: skewX(32deg);
}
.header--bottom--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.header--bottom--menu--item {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  padding: 23px 0;
}
.header--bottom--menu--item a {
  color: var(--black-1);
  padding: 4px 0;
}
.header--bottom--menu--item a.user-btn {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  border: 1px solid var(--black-1);
  border-radius: 50%;
  padding: 0;
  margin: -8px 0;
}
.header--bottom .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -62px;
  margin-bottom: -30px;
}
.header--bottom .logo img {
  height: 100%;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 136px;
  position: relative;
  z-index: 2;
}
.banner--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-gradient);
  z-index: -1;
}
.banner--overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--black-2)), to(transparent));
  background: linear-gradient(var(--black-2) 50%, transparent);
  z-index: -1;
}
.banner--overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--black-2)));
  background: linear-gradient(transparent, var(--black-2));
  z-index: -1;
}
.banner--content {
  text-align: center;
  padding: 200px 0;
}
.banner--content--title {
  font-size: 110px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -5px;
  color: var(--white-1);
  margin-bottom: 31px;
}
.banner--content--title span {
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
}
.banner--content--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner--content--desc--icon {
  font-size: 170px;
  line-height: 1;
  color: var(--white-1);
}
.banner--content--desc--content {
  width: 475px;
  text-align: left;
}
.banner--content--desc--content p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--white-1);
  padding-bottom: 25px;
  border-bottom: 1px solid var(--white-1);
  margin-bottom: 40px;
  position: relative;
}
.banner--content--desc--content p::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 3px;
  background: var(--white-1);
}
.banner--content--desc--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.about {
  color: var(--white-1);
}
.about--overlay {
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--black-5)), to(transparent));
  background: linear-gradient(var(--black-5), transparent);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transform: rotateX(25deg);
          transform: rotateX(25deg);
  margin-bottom: -30px;
}
.about--subtitle {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
}
.about--subtitle i, .about--subtitle span {
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
}
.about--title {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--white-1);
  margin-bottom: 57px;
}
.about--title span {
  display: inline;
  color: var(--black-9);
}
.about--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 16px;
  margin-bottom: 50px;
}
.about--list--item {
  width: calc(50% - 10px);
  font-size: 17px;
  line-height: 1.3;
  font-weight: 500;
}
.about--list--item::before {
  content: "\e182";
  font-family: "Phosphor" !important;
  font-weight: bold;
  font-size: 20px;
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
  margin-right: 10px;
  display: inline-block;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.workflow {
  position: relative;
  z-index: 2;
}
.workflow::before {
  content: "";
  position: absolute;
  top: -160px;
  left: -280px;
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}
.workflow::after {
  content: "";
  position: absolute;
  top: -160px;
  right: -280px;
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}
.workflow--card {
  background-color: var(--black-1);
  background-repeat: no-repeat;
  background-size: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--black-4);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
.workflow--card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background: var(--gradient-1);
  border-radius: 50%;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0.9;
  z-index: -1;
}
.workflow--card--content {
  padding: 30px;
}
.workflow--card--icon {
  width: 68px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
}
.workflow--card--icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, var(--base-1), var(--black-1), var(--black-1), var(--base-1));
  border-radius: 12px;
  z-index: -1;
}
.workflow--card--icon::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--black-1);
  border-radius: 10px;
  z-index: -1;
}
.workflow--card--title {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--white-1);
  margin-bottom: 12px;
}
.workflow--card--desc {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--light-1);
  opacity: 0.8;
  margin-bottom: 0;
}
.workflow--card--number {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  padding: 20px 0;
  background: var(--black-3);
  border-left: 1px solid var(--base-2);
  border-bottom: 1px solid var(--base-2);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.workflow--card--number::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: var(--gradient-1);
  border-radius: 15px;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}
.workflow--card--number span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.workflow--card--number span:first-child {
  font-size: 30px;
  line-height: 1;
  color: var(--white-1);
  margin-bottom: auto;
}
.workflow--card--number span:nth-child(2) {
  font-family: var(--heading-font);
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
  color: var(--white-1);
  margin-bottom: 2px;
}
.workflow--card--number span:last-child {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: var(--light-1);
  opacity: 0.8;
}
.workflow--card:hover {
  border-color: var(--base-1);
}
.workflow--card:hover .workflow--card--number::after {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.workflow--card:hover .workflow--card--number span {
  color: var(--black-1) !important;
}

.auction {
  border-top: 1px solid var(--base-2);
  border-bottom: 1px solid var(--base-2);
  border-radius: 60px;
}
.auction .section-heading--desc {
  margin-bottom: 30px;
}
.auction--card {
  background: color-mix(in srgb, var(--black-3), transparent 50%);
  border: 1px solid var(--black-4);
  border-radius: 20px;
  padding: 8px;
}
.auction--card--top {
  padding: 30px;
}
.auction--card--top h3 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--white-1);
  margin-bottom: 12px;
}
.auction--card--top p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-1);
  opacity: 0.8;
  margin-bottom: 0;
}
.auction--card--body {
  padding: 30px;
  background: var(--gradient-1);
  border-radius: 30px 30px 20px 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.auction--card--body::before {
  content: "";
  position: absolute;
  inset: 4px 1px 1px;
  background: var(--black-2);
  border-radius: 26px 26px 19px 19px;
  z-index: -1;
}
.auction--card--body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  -webkit-transform: translateY(50%) translateX(50%);
          transform: translateY(50%) translateX(50%);
  background: var(--gradient-1);
  border-radius: 50%;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  opacity: 0.8;
  z-index: -1;
}
.auction--card--body--title {
  font-family: var(--body-font);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}
.auction--card--body--title span {
  font-size: 16px;
  font-weight: 500;
  color: var(--white-1);
}
.auction--card--body--title img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}
.auction--card--body--counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  margin-bottom: 30px;
}
.auction--card--body--counter--countdown {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: var(--white-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.auction--card--body--counter--countdown span {
  text-align: center;
  width: 40px;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  font-weight: 500;
  color: var(--black-2);
  background: var(--gradient-1);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.auction--card--body--counter--txt {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: var(--white-1);
  opacity: 0.8;
}
.auction--card--body--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 35px;
}
.auction--card--body--list li {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--white-1);
}
.auction--card--body--list li span {
  opacity: 0.8;
}
.auction--card--body--btn {
  width: 100%;
  height: 50px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--base-1);
  border-radius: 30px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white-1);
  position: relative;
  z-index: 2;
}
.auction--card--body--btn::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: var(--gradient-1);
  border-radius: 30px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.auction--card--body--btn span {
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 37px;
  background: var(--gradient-1);
  border-radius: 50%;
  color: var(--black-1);
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(14px);
          transform: translateY(-50%) translateX(14px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
.auction--card--body--btn span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-2);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}
.auction--card--body--btn:hover::after {
  opacity: 1;
}
.auction--card--body--btn:hover span {
  color: var(--white-1);
  -webkit-transform: translateY(-50%) translateX(14px) rotate(45deg);
          transform: translateY(-50%) translateX(14px) rotate(45deg);
}
.auction--card--body--btn:hover span::after {
  opacity: 1;
}

.vip-level {
  position: relative;
  z-index: 2;
}
.vip-level::before {
  content: "";
  position: absolute;
  top: -260px;
  left: -280px;
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}
.vip-level::after {
  content: "";
  position: absolute;
  top: -260px;
  right: -280px;
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}
.vip-level--card {
  padding: 8px;
  background: var(--gradient-1);
  border-radius: 30px 30px 20px 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.vip-level--card::before {
  content: "";
  position: absolute;
  inset: 2px 1px 1px;
  background: var(--black-2);
  border-radius: 30px 30px 20px 20px;
  z-index: -1;
}
.vip-level--card--bg {
  position: absolute;
  inset: 1px;
  background-repeat: no-repeat;
  border-radius: 30px 30px 20px 20px;
  z-index: -1;
}
.vip-level--card--bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(40%);
          transform: translateX(-50%) translateY(40%);
  width: 50%;
  aspect-ratio: 1/1;
  background: var(--gradient-1);
  border-radius: 50%;
  -webkit-filter: blur(140px);
          filter: blur(140px);
  z-index: -1;
}
.vip-level--card--noise {
  position: absolute;
  inset: 1px;
  background-repeat: no-repeat;
  border-radius: 30px 30px 20px 20px;
  opacity: 100%;
  z-index: -1;
}
.vip-level--card--title {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: var(--white-1);
  padding: 25px;
  margin-bottom: 0;
}
.vip-level--card--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(3px);
  background: -webkit-gradient(linear, left top, left bottom, from(color-mix(in srgb, var(--base-2), transparent 80%)), to(color-mix(in srgb, var(--black-1), transparent 90%)));
  background: linear-gradient(color-mix(in srgb, var(--base-2), transparent 80%), color-mix(in srgb, var(--black-1), transparent 90%));
  border: 1px solid color-mix(in srgb, var(--base-2), transparent 70%);
  border-radius: 20px;
  padding: 4px;
}
.vip-level--card--list li {
  background: color-mix(in srgb, var(--white-1), transparent 94%);
  border-radius: 16px;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
  color: var(--white-1);
  font-weight: 500;
  padding: 12px;
}
.vip-level--card--list li span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
  margin: 8px auto 0;
}

.referral {
  position: relative;
  z-index: 2;
}
.referral::before {
  content: "";
  position: absolute;
  top: -160px;
  left: -280px;
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}
.referral::after {
  content: "";
  position: absolute;
  bottom: -160px;
  right: -280px;
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.4;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}

.why-choose {
  margin: 0 60px;
  position: relative;
  z-index: 2;
}
.why-choose::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--gradient-1);
  border-radius: 60px;
  z-index: -1;
}
.why-choose--bg {
  position: absolute;
  inset: 0 0 1px;
  background-color: var(--black-2);
  background-size: cover;
  background-position: center center;
  border-radius: 60px;
  overflow: hidden;
  z-index: -1;
}
.why-choose--bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: var(--gradient-1);
  border-radius: 50%;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  opacity: 0.7;
  z-index: -1;
}
.why-choose--bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: var(--gradient-1);
  border-radius: 50%;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  opacity: 0.7;
  z-index: -1;
}
.why-choose--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.why-choose--card {
  width: 120px;
  border-radius: 30px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}
.why-choose--card.active {
  width: calc(100% - 432px);
}
.why-choose--card.active::before {
  border-radius: 30px;
}
.why-choose--card.active::after {
  inset: 1px;
}
.why-choose--card.active .why-choose--card--img {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.why-choose--card.active .why-choose--card--number {
  color: transparent;
}
.why-choose--card.active .why-choose--card--title {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.why-choose--card.active .why-choose--card--desc {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.why-choose--card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-1);
  border-radius: 35px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -2;
}
.why-choose--card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--black-3);
  border-radius: 30px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -2;
}
.why-choose--card--bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
  z-index: -1;
}
.why-choose--card--bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 300px;
  height: 300px;
  background: var(--gradient-1);
  border-radius: 50%;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  -webkit-transform: translateY(50%) translateX(30%);
          transform: translateY(50%) translateX(30%);
  opacity: 0.5;
  z-index: -1;
}
.why-choose--card--img {
  position: absolute;
  top: -40px;
  right: 50px;
  max-width: 260px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.why-choose--card--content {
  width: 100%;
  padding: 40px 50px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.why-choose--card--number {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: var(--heading-font);
  font-size: 120px;
  line-height: 1;
  font-weight: 600;
  color: var(--white-1);
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 58px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.why-choose--card--title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  color: var(--white-1);
  margin-bottom: 21px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.why-choose--card--title span {
  display: block;
  margin-left: 100px;
}
.why-choose--card--desc {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--light-1);
  margin-bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.testimonial {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.testimonial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 560px;
  height: 560px;
  background: var(--gradient-1);
  border-radius: 50%;
  opacity: 0.3;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -1;
}
.testimonial .bx-wrapper {
  background: transparent;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
  border: 0;
  margin-bottom: 0;
  position: relative;
}
.testimonial .bx-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  background: -webkit-gradient(linear, left top, right top, from(var(--black-2)), to(transparent));
  background: linear-gradient(to right, var(--black-2), transparent);
  z-index: 2;
}
.testimonial .bx-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  background: -webkit-gradient(linear, right top, left top, from(var(--black-2)), to(transparent));
  background: linear-gradient(to left, var(--black-2), transparent);
  z-index: 2;
}
.testimonial .bx-wrapper:last-child {
  margin-top: 24px;
}
.testimonial--card {
  width: 445px !important;
  margin: 0 12px;
  padding: 30px;
  background: var(--gradient-1);
  border-radius: 12px;
  position: relative;
  z-index: 2;
}
.testimonial--card::before {
  content: "";
  position: absolute;
  inset: -1px;
  background: -webkit-gradient(linear, left top, right top, from(var(--black-3)), to(var(--black-2)));
  background: linear-gradient(to right, var(--black-3), var(--black-2));
  border-radius: 12px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -1;
}
.testimonial--card::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: -webkit-gradient(linear, left top, right top, from(var(--black-3)), to(var(--black-2)));
  background: linear-gradient(to right, var(--black-3), var(--black-2));
  border-radius: 12px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -1;
}
.testimonial--card--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-bottom: 25px;
  border-bottom: 1px dashed var(--black-4);
  margin-bottom: 25px;
}
.testimonial--card--user--img {
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial--card--user--name {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--white-1);
  margin-bottom: 8px;
}
.testimonial--card--user--role {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--black-9);
  margin-bottom: 0;
}
.testimonial--card--desc {
  font-size: 18px;
  line-height: 1.6;
  color: var(--white-7);
  margin-bottom: 40px;
}
.testimonial--card--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonial--card--footer--txt {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--white-1);
}
.testimonial--card--footer--star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}
.testimonial--card--footer--star i {
  color: transparent;
  background: var(--gradient-1);
  -webkit-background-clip: text;
          background-clip: text;
}
.testimonial--card:hover::before {
  opacity: 0;
}

.overview--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.overview--content--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.overview--content--img span {
  text-align: center;
  width: 47px;
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  font-weight: 600;
  background: var(--gradient-1);
  border-radius: 50%;
  overflow: hidden;
}
.overview--content--img span:not(:first-child) {
  margin-left: -16px;
}
.overview--content--txt {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--white-1);
}
.overview--content--txt span {
  display: block;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 2px;
}