.contact {
    position: relative;
    overflow: hidden;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: -120px;
        left: 0;
        transform: translateX(-50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.4;
        z-index: -1;
        @include md-screen {
            width: 350px;
            height: 350px;
            opacity: 0.6;
        }
        @include sm-screen {
            width: 250px;
            height: 250px;
            filter: blur(150px);
        }
        @include msm-screen {
            width: 150px;
            height: 150px;
            filter: blur(100px);
            opacity: 0.7;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: -120px;
        right: 0;
        transform: translateX(50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.4;
        z-index: -1;
        @include md-screen {
            width: 350px;
            height: 350px;
            opacity: 0.6;
        }
        @include sm-screen {
            width: 250px;
            height: 250px;
            filter: blur(150px);
        }
        @include msm-screen {
            width: 150px;
            height: 150px;
            filter: blur(100px);
            opacity: 0.7;
        }
    }
    &--card {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 40px 40px;
        position: relative;
        z-index: 2;
        @include xl-screen {
            padding: 0 35px 35px;
        }
        @include lg-screen {
            padding: 0 30px 30px;
        }
        @include sm-screen {
            max-width: 290px;
            padding: 0 20px 20px;
            margin: auto;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 13px 0 0;
            background: var(--gradient-1);
            clip-path: polygon( 0% 10.063%,0% 10.063%,0.096% 8.431%,0.373% 6.882%,0.817% 5.438%,1.413% 4.12%,2.145% 2.947%,2.998% 1.942%,3.957% 1.123%,5.008% 0.513%,6.135% 0.132%,7.323% 0%,18.938% 0%,18.938% 0%,19.468% 0.026%,19.993% 0.105%,20.511% 0.235%,21.018% 0.415%,21.515% 0.644%,21.999% 0.921%,22.467% 1.245%,22.918% 1.616%,23.351% 2.032%,23.762% 2.492%,29.914% 9.895%,29.914% 9.895%,30.326% 10.355%,30.758% 10.771%,31.21% 11.142%,31.678% 11.467%,32.161% 11.744%,32.658% 11.973%,33.166% 12.153%,33.683% 12.282%,34.208% 12.361%,34.738% 12.387%,50% 12.387%,65.262% 12.387%,65.262% 12.387%,65.792% 12.361%,66.317% 12.282%,66.834% 12.153%,67.342% 11.973%,67.839% 11.744%,68.322% 11.467%,68.79% 11.142%,69.242% 10.771%,69.674% 10.355%,70.086% 9.895%,76.238% 2.492%,76.238% 2.492%,76.649% 2.032%,77.082% 1.616%,77.533% 1.245%,78.001% 0.921%,78.485% 0.644%,78.982% 0.415%,79.49% 0.235%,80.007% 0.105%,80.532% 0.026%,81.062% 0%,92.677% 0%,92.677% 0%,93.865% 0.132%,94.992% 0.513%,96.043% 1.123%,97.002% 1.942%,97.855% 2.947%,98.587% 4.12%,99.183% 5.438%,99.627% 6.882%,99.904% 8.431%,100% 10.063%,100% 89.937%,100% 89.937%,99.904% 91.569%,99.627% 93.118%,99.183% 94.562%,98.587% 95.88%,97.855% 97.053%,97.002% 98.058%,96.043% 98.877%,94.992% 99.487%,93.865% 99.868%,92.677% 100%,7.323% 100%,7.323% 100%,6.135% 99.868%,5.008% 99.487%,3.957% 98.877%,2.998% 98.058%,2.145% 97.053%,1.413% 95.88%,0.817% 94.562%,0.373% 93.118%,0.096% 91.569%,0% 89.937%,0% 10.063% );
            opacity: 0;
            transition: .3s;
            z-index: -1;
            @include lg-screen {
                top: 10px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            inset: 14px 1px 1px;
            background: var(--black-2);
            clip-path: polygon( 0% 10.063%,0% 10.063%,0.096% 8.431%,0.373% 6.882%,0.817% 5.438%,1.413% 4.12%,2.145% 2.947%,2.998% 1.942%,3.957% 1.123%,5.008% 0.513%,6.135% 0.132%,7.323% 0%,18.938% 0%,18.938% 0%,19.468% 0.026%,19.993% 0.105%,20.511% 0.235%,21.018% 0.415%,21.515% 0.644%,21.999% 0.921%,22.467% 1.245%,22.918% 1.616%,23.351% 2.032%,23.762% 2.492%,29.914% 9.895%,29.914% 9.895%,30.326% 10.355%,30.758% 10.771%,31.21% 11.142%,31.678% 11.467%,32.161% 11.744%,32.658% 11.973%,33.166% 12.153%,33.683% 12.282%,34.208% 12.361%,34.738% 12.387%,50% 12.387%,65.262% 12.387%,65.262% 12.387%,65.792% 12.361%,66.317% 12.282%,66.834% 12.153%,67.342% 11.973%,67.839% 11.744%,68.322% 11.467%,68.79% 11.142%,69.242% 10.771%,69.674% 10.355%,70.086% 9.895%,76.238% 2.492%,76.238% 2.492%,76.649% 2.032%,77.082% 1.616%,77.533% 1.245%,78.001% 0.921%,78.485% 0.644%,78.982% 0.415%,79.49% 0.235%,80.007% 0.105%,80.532% 0.026%,81.062% 0%,92.677% 0%,92.677% 0%,93.865% 0.132%,94.992% 0.513%,96.043% 1.123%,97.002% 1.942%,97.855% 2.947%,98.587% 4.12%,99.183% 5.438%,99.627% 6.882%,99.904% 8.431%,100% 10.063%,100% 89.937%,100% 89.937%,99.904% 91.569%,99.627% 93.118%,99.183% 94.562%,98.587% 95.88%,97.855% 97.053%,97.002% 98.058%,96.043% 98.877%,94.992% 99.487%,93.865% 99.868%,92.677% 100%,7.323% 100%,7.323% 100%,6.135% 99.868%,5.008% 99.487%,3.957% 98.877%,2.998% 98.058%,2.145% 97.053%,1.413% 95.88%,0.817% 94.562%,0.373% 93.118%,0.096% 91.569%,0% 89.937%,0% 10.063% );
            z-index: -1;
            @include lg-screen {
                top: 11px;
            }
        }
        &--shape {
            position: absolute;
            inset: 13px 0 0;
            background: var(--black-4);
            clip-path: polygon( 0% 10.063%,0% 10.063%,0.096% 8.431%,0.373% 6.882%,0.817% 5.438%,1.413% 4.12%,2.145% 2.947%,2.998% 1.942%,3.957% 1.123%,5.008% 0.513%,6.135% 0.132%,7.323% 0%,18.938% 0%,18.938% 0%,19.468% 0.026%,19.993% 0.105%,20.511% 0.235%,21.018% 0.415%,21.515% 0.644%,21.999% 0.921%,22.467% 1.245%,22.918% 1.616%,23.351% 2.032%,23.762% 2.492%,29.914% 9.895%,29.914% 9.895%,30.326% 10.355%,30.758% 10.771%,31.21% 11.142%,31.678% 11.467%,32.161% 11.744%,32.658% 11.973%,33.166% 12.153%,33.683% 12.282%,34.208% 12.361%,34.738% 12.387%,50% 12.387%,65.262% 12.387%,65.262% 12.387%,65.792% 12.361%,66.317% 12.282%,66.834% 12.153%,67.342% 11.973%,67.839% 11.744%,68.322% 11.467%,68.79% 11.142%,69.242% 10.771%,69.674% 10.355%,70.086% 9.895%,76.238% 2.492%,76.238% 2.492%,76.649% 2.032%,77.082% 1.616%,77.533% 1.245%,78.001% 0.921%,78.485% 0.644%,78.982% 0.415%,79.49% 0.235%,80.007% 0.105%,80.532% 0.026%,81.062% 0%,92.677% 0%,92.677% 0%,93.865% 0.132%,94.992% 0.513%,96.043% 1.123%,97.002% 1.942%,97.855% 2.947%,98.587% 4.12%,99.183% 5.438%,99.627% 6.882%,99.904% 8.431%,100% 10.063%,100% 89.937%,100% 89.937%,99.904% 91.569%,99.627% 93.118%,99.183% 94.562%,98.587% 95.88%,97.855% 97.053%,97.002% 98.058%,96.043% 98.877%,94.992% 99.487%,93.865% 99.868%,92.677% 100%,7.323% 100%,7.323% 100%,6.135% 99.868%,5.008% 99.487%,3.957% 98.877%,2.998% 98.058%,2.145% 97.053%,1.413% 95.88%,0.817% 94.562%,0.373% 93.118%,0.096% 91.569%,0% 89.937%,0% 10.063% );
            transition: .3s;
            z-index: -1;
            @include lg-screen {
                top: 10px;
            }
        }
        &--icon {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            color: var(--black-2);
            background: var(--gradient-1);
            border-radius: 50%;
            margin-bottom: 60px;
            @include xl-screen {
                width: 70px;
                height: 70px;
                font-size: 35px;
                margin-bottom: 50px;
            }
            @include lg-screen {
                width: 60px;
                height: 60px;
                font-size: 30px;
                margin-bottom: 40px;
            }
            @include sm-screen {
                width: 50px;
                height: 50px;
                font-size: 25px;
                margin-bottom: 30px;
            }
        }
        &--title {
            font-size: 24px;
            line-height: 1.3;
            font-weight: 600;
            color: var(--white-1);
            margin-bottom: 12px;
            @include xl-screen {
                font-size: 22px;
            }
            @include lg-screen {
                font-size: 20px;
            }
            @include sm-screen {
                font-size: 18px;
            }
        }
        &--desc {
            font-size: 18px;
            line-height: 1.5;
            color: var(--light-1);
            margin-bottom: 24px;
            @include xl-screen {
                font-size: 16px;
            }
            @include lg-screen {
                font-size: 14px;
                margin-bottom: 18px;
            }
            @include sm-screen {
                font-size: 12px;
                margin-bottom: 14px;
            }
        }
        &--link {
            font-family: var(--heading-font);
            font-size: 20px;
            line-height: 1.5;
            font-weight: 400;
            color: var(--light-1);
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
            @include xl-screen {
                font-size: 18px;
            }
            @include lg-screen {
                font-size: 16px;
            }
            @include sm-screen {
                font-size: 14px;
            }
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            .contact--card--shape {
                opacity: 0;
            }
        }
    }
    &--form {
        padding: 60px;
        position: relative;
        z-index: 2;
        @include lg-screen {
            padding: 50px;
        }
        @include md-screen {
            padding: 40px;
        }
        @include sm-screen {
            padding: 30px;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--gradient-1);
            border-radius: 32px;
            z-index: -2;
            @include lg-screen {
                border-radius: 28px;
            }
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            inset: 1px;
            background: var(--black-2);
            border-radius: 32px;
            z-index: -2;
            @include lg-screen {
                border-radius: 28px;
            }
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
        }
        &--inner {
            position: absolute;
            inset: 1px;
            border-radius: 32px;
            overflow: hidden;
            z-index: -1;
            @include lg-screen {
                border-radius: 28px;
            }
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                width: 500px;
                height: 500px;
                background: var(--gradient-1);
                border-radius: 50%;
                filter: blur(200px);
                opacity: 0.4;
                z-index: -1;
                @include md-screen {
                    width: 350px;
                    height: 350px;
                    opacity: 0.6;
                }
                @include sm-screen {
                    width: 250px;
                    height: 250px;
                    filter: blur(150px);
                }
                @include msm-screen {
                    width: 150px;
                    height: 150px;
                    filter: blur(100px);
                    opacity: 0.7;
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(50%, 50%);
                width: 500px;
                height: 500px;
                background: var(--gradient-1);
                border-radius: 50%;
                filter: blur(200px);
                opacity: 0.4;
                z-index: -1;
                @include md-screen {
                    width: 350px;
                    height: 350px;
                    opacity: 0.6;
                }
                @include sm-screen {
                    width: 250px;
                    height: 250px;
                    filter: blur(150px);
                }
                @include msm-screen {
                    width: 150px;
                    height: 150px;
                    filter: blur(100px);
                    opacity: 0.7;
                }
            }
        }
    }
}