.contact {
    position: relative;
    overflow: hidden;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: -120px;
        left: 0;
        transform: translateX(-50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.4;
        z-index: -1;
        @include md-screen {
            width: 350px;
            height: 350px;
            opacity: 0.6;
        }
        @include sm-screen {
            width: 250px;
            height: 250px;
            filter: blur(150px);
        }
        @include msm-screen {
            width: 150px;
            height: 150px;
            filter: blur(100px);
            opacity: 0.7;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: -120px;
        right: 0;
        transform: translateX(50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.4;
        z-index: -1;
        @include md-screen {
            width: 350px;
            height: 350px;
            opacity: 0.6;
        }
        @include sm-screen {
            width: 250px;
            height: 250px;
            filter: blur(150px);
        }
        @include msm-screen {
            width: 150px;
            height: 150px;
            filter: blur(100px);
            opacity: 0.7;
        }
    }
    &--form {
        padding: 60px;
        position: relative;
        z-index: 2;
        @include lg-screen {
            padding: 50px;
        }
        @include md-screen {
            padding: 40px;
        }
        @include sm-screen {
            padding: 30px;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--gradient-1);
            border-radius: 32px;
            z-index: -2;
            @include lg-screen {
                border-radius: 28px;
            }
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            inset: 1px;
            background: var(--black-2);
            border-radius: 32px;
            z-index: -2;
            @include lg-screen {
                border-radius: 28px;
            }
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
        }
        &--inner {
            position: absolute;
            inset: 1px;
            border-radius: 32px;
            overflow: hidden;
            z-index: -1;
            @include lg-screen {
                border-radius: 28px;
            }
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                width: 500px;
                height: 500px;
                background: var(--gradient-1);
                border-radius: 50%;
                filter: blur(200px);
                opacity: 0.4;
                z-index: -1;
                @include md-screen {
                    width: 350px;
                    height: 350px;
                    opacity: 0.6;
                }
                @include sm-screen {
                    width: 250px;
                    height: 250px;
                    filter: blur(150px);
                }
                @include msm-screen {
                    width: 150px;
                    height: 150px;
                    filter: blur(100px);
                    opacity: 0.7;
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(50%, 50%);
                width: 500px;
                height: 500px;
                background: var(--gradient-1);
                border-radius: 50%;
                filter: blur(200px);
                opacity: 0.4;
                z-index: -1;
                @include md-screen {
                    width: 350px;
                    height: 350px;
                    opacity: 0.6;
                }
                @include sm-screen {
                    width: 250px;
                    height: 250px;
                    filter: blur(150px);
                }
                @include msm-screen {
                    width: 150px;
                    height: 150px;
                    filter: blur(100px);
                    opacity: 0.7;
                }
            }
        }
    }
}