.dashboard {
    width: 100%;
    min-height: 100vh;
    padding: 93px 0 0 290px;
    position: relative;
    overflow: visible;
    z-index: 2;
    @include xxl-screen {
        padding: 93px 0 0 265px;
    }
    @include xl-screen {
        padding: 76px 0 0 250px;
    }
    @include lg-screen {
        padding: 76px 0 0;
    }
    @include md-screen {
        padding: 71px 0 0;
    }
    @include sm-screen {
        padding: 56px 0 0;
    }
    &--sidebar {
        position: fixed;
        top: 0;
        left: 0;
        flex-shrink: 0;
        width: 290px;
        height: 100%;
        background: var(--black-3);
        border-right: 1px solid color-mix(in srgb, var(--white-1), transparent 95%);
        @include xxl-screen {
            width: 265px;
        }
        @include xl-screen {
            width: 250px;
        }
        @include lg-screen {
            width: 270px;
            transform: translateX(-120%);
            z-index: 9999;
            transition: .3s;
            &.active {
                transform: translateX(0);
            }
        }
        &--logo {
            height: 258px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid color-mix(in srgb, var(--white-1), transparent 95%);
            position: relative;
            overflow: hidden;
            z-index: 2;
            @include xxl-screen {
                height: 235px;
            }
            @include xl-screen {
                height: 220px;
            }
            @include lg-screen {
                height: 180px;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -60px;
                right: -60px;
                width: 200px;
                height: 90px;
                background: var(--base-2);
                transform: rotate(-10deg);
                filter: blur(40px);
                opacity: 0.5;
                z-index: -1;
            }
            &--bg {
                position: absolute;
                inset: 0;
                background-size: cover;
                opacity: 0.2;
                z-index: -1;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include xxl-screen {
                    max-width: 135px;
                }
                @include xl-screen {
                    max-width: 120px;
                }
                @include lg-screen {
                    max-width: 100px;
                }
            }
        }
        &--btn {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 40px;
            height: 40px;
            background: var(--gradient-1);
            border-radius: 10px;
            font-size: 25px;
            color: var(--black-1);
            @include lg-screen {
                top: 20px;
                right: 20px;
                width: 35px;
                height: 35px;
                line-height: 39px;
                border-radius: 7px;
                font-size: 22px;
            }
            @include sm-screen {
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                line-height: 34px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
        &--menu {
            height: calc(100% - 258px);
            padding-block: 45px;
            @include xxl-screen {
                height: calc(100% - 235px);
                padding-block: 40px;
            }
            @include xl-screen {
                height: calc(100% - 220px);
                padding-block: 30px;
            }
            @include lg-screen {
                height: calc(100% - 180px);
                padding-block: 25px;
            }
        }
        &--nav {
            height: 100%;
            padding-inline: 30px;
            overflow-y: auto;
            @include xxl-screen {
                padding-inline: 25px;
            }
            @include xl-screen {
                padding-inline: 20px;
            }
            @include lg-screen {
                padding-inline: 15px;
            }
            &--item {
                margin-bottom: 16px;
                @include xl-screen {
                    margin-bottom: 10px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &--link {
                padding: 12px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--white-1);
                border-radius: 12px;
                position: relative;
                z-index: 2;
                @include xl-screen {
                    gap: 8px;
                    border-radius: 10px;
                }
                @include sm-screen {
                    gap: 6px;
                    border-radius: 6px;
                }
                &.active {
                    color: var(--black-2);
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: var(--gradient-1);
                    border-radius: 12px;
                    opacity: 0;
                    transition: .3s;
                    z-index: -1;
                    @include xl-screen {
                        border-radius: 10px;
                    }
                    @include sm-screen {
                        border-radius: 6px;
                    }
                }
                &:hover {
                    color: var(--black-2);
                    &::after {
                        opacity: 1;
                    }
                }
            }
            &--icon {
                display: block;
                font-size: 22px;
                line-height: 1;
                @include xxl-screen {
                    font-size: 20px;
                }
                @include sm-screen {
                    font-size: 18px;
                }
            }
            &--txt {
                display: block;
                font-size: 16px;
                line-height: 1.3;
                font-weight: 500;
                @include xxl-screen {
                    font-size: 14px;
                }
                @include sm-screen {
                    font-size: 12px;
                }
            }
        }
    }
    &--body {
        width: 100%;
        padding: 30px 30px 110px;
        position: relative;
        @include xl-screen {
            padding: 25px 25px 97px;
        }
        @include lg-screen {
            padding: 20px 20px 87px;
        }
        @include md-screen {
            padding: 15px 15px 154px;
        }
        @include sm-screen {
            padding: 10px 10px 118px;
        }
    }
    &--header {
        position: fixed;
        top: 0;
        left: 290px;
        right: 0;
        width: auto;
        background: var(--black-4);
        padding: 20px;
        border-bottom: 1px solid color-mix(in srgb, var(--white-1), transparent 95%);
        display: flex;
        gap: 20px;
        align-items: center;
        z-index: 1001;
        @include xxl-screen {
            left: 265px;
        }
        @include xl-screen {
            left: 250px;
            padding: 15px;
            gap: 15px;
        }
        @include lg-screen {
            left: 0;
        }
        @include sm-screen {
            padding: 10px;
            gap: 10px;
        }
        &--toggle-btn {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            background: var(--gradient-1);
            border-radius: 10px;
            font-size: 25px;
            color: var(--black-1);
            @include lg-screen {
                width: 35px;
                height: 35px;
                line-height: 39px;
                border-radius: 7px;
                font-size: 22px;
            }
            @include sm-screen {
                width: 30px;
                height: 30px;
                line-height: 34px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
        &--welcome {
            font-size: 35px;
            line-height: 1.2;
            font-weight: 600;
            color: var(--white-1);
            margin-bottom: 0;
            @include xxl-screen {
                font-size: 30px;
            }
            @include xl-screen {
                font-size: 25px;
            }
            @include md-screen {
                font-size: 20px;
            }
            @include sm-screen {
                font-size: 18px;
                font-weight: 500;
            }
            @include msm-screen {
                font-size: 16px;
            }
            @include xsm-screen {
                font-size: 14px;
            }
            span {
                color: transparent;
                background: var(--gradient-1);
                background-clip: text;
            }
        }
        &--txt {
            font-size: 18px;
            line-height: 1.3;
            color: var(--white-1);
            margin-bottom: 0;
            margin-right: 16px;
            @include xl-screen {
                font-size: 16px;
                margin-right: 10px;
            }
            @include sm-screen {
                font-size: 14px;
            }
            @include msm-screen {
                display: none;
            }
            span {
                font-weight: 700;
                color: transparent;
                background: linear-gradient(to right, var(--base-1), var(--base-2));
                background-clip: text;
            }
        }
        &--btn {
            width: 52px;
            height: 52px;
            line-height: 56px;
            font-size: 22px;
            color: var(--white-1);
            background: var(--gradient-1);
            border-radius: 50%;
            position: relative;
            transition: .3s;
            z-index: 2;
            @include xl-screen {
                width: 45px;
                height: 45px;
                line-height: 49px;
                font-size: 20px;
            }
            @include md-screen {
                width: 40px;
                height: 40px;
                line-height: 44px;
                font-size: 18px;
            }
            @include sm-screen {
                width: 35px;
                height: 35px;
                line-height: 39px;
                font-size: 16px;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 1px;
                background: var(--black-4);
                border-radius: 50%;
                transition: .3s;
                z-index: -1;
            }
            &:hover {
                color: var(--black-2);
                &::after {
                    opacity: 0;
                }
            }
        }
        .user-dropdown {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            &--txt {
                text-align: right;
            }
        }
        &--user-btn {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            overflow: hidden;
            @include xl-screen {
                width: 45px;
                height: 45px;
            }
            @include md-screen {
                width: 40px;
                height: 40px;
            }
            @include sm-screen {
                width: 35px;
                height: 35px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include md-screen {
                    border-radius: 8px;
                }
            }
        }
    }
    &--breadcrumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;
        &--title {
            font-size: 24px;
            line-height: 1.1;
            font-weight: 600;
            color: var(--white-1);
            margin-bottom: 0;
        }
        &--list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
            column-gap: 6px;
            width: max-content;
            background: var(--gradient-1);
            padding: 12px 20px;
            border-radius: 8px;
            position: relative;
            z-index: 2;
            @include sm-screen {
                column-gap: 4px;
                padding: 10px 15px;
                border-radius: 6px;
            }
            @include msm-screen {
                column-gap: 3px;
                padding: 6px 10px;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 1px;
                background: var(--black-2);
                border-radius: 8px;
                z-index: -1;
                @include sm-screen {
                    border-radius: 6px;
                }
            }
            &--item {
                font-size: 15px;
                line-height: 1.2;
                font-weight: 400;
                color: var(--white-1);
                position: relative;
                @include md-screen {
                    font-size: 14px;
                }
                @include sm-screen {
                    font-size: 12px;
                }
                &::after {
                    display: inline-block;
                    content: "\e12a";
                    font-family: "Phosphor-Bold";
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 1.2;
                    transform: translateY(1px);
                    margin-left: 6px;
                    @include md-screen {
                        font-size: 12px;
                    }
                    @include sm-screen {
                        font-size: 11px;
                        margin-left: 4px;
                    }
                    @include msm-screen {
                        margin-left: 3px;
                    }
                }
                &:not(:first-child) {
                    font-weight: 500;
                    color: transparent;
                    background: var(--gradient-1);
                    background-clip: text;
                    &::after {
                        background: var(--gradient-1);
                        background-clip: text;
                    }
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    &--widget {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background: var(--black-3);
        padding: 30px;
        border: 1px solid var(--black-4);
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        transition: .3s;
        @media screen and (max-width: 1699px) {
            padding: 25px;
        }
        @include xxl-screen {
            flex-direction: column;
            padding: 25px 15px;
        }
        @include md-screen {
            flex-direction: row;
            padding: 25px;
        }
        @include sm-screen {
            padding: 20px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: calc(100% - 60px);
            left: 50%;
            transform: translateX(-50%);
            width: 520px;
            height: 520px;
            background: var(--black-4);
            border-radius: 50%;
            z-index: -1;
        }
        &--bg {
            position: absolute;
            inset: 0;
            background-size: cover;
            opacity: 0.3;
            z-index: -1;
            @include xl-screen {
                width: 180px;
                height: 180px;
            }
            @include lg-screen {
                width: 150px;
                height: 150px;
            }
            @include sm-screen {
                width: 120px;
                height: 120px;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(to left, transparent, var(--black-3) 60%);
                z-index: -1;
            }
        }
        &--icon {
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--gradient-1);
            border: 5px solid var(--black-2);
            border-radius: 50%;
            margin-bottom: 13px;
        }
        &--number {
            display: block;
            width: max-content;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 800;
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
            margin-bottom: 10px;
            @include xxl-screen {
                font-size: 18px;
            }
            @include md-screen {
                font-size: 16px;
            }
            @include sm-screen {
                font-size: 15px;
            }
        }
        &--name {
            display: block;
            font-size: 16px;
            line-height: 1;
            letter-spacing: .5px;
            font-weight: 300;
            @include sm-screen {
                font-size: 14px;
            }
        }
    }
    &--footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--black-4);
        padding: 19px 24px;
        @include xl-screen {
            padding: 15px 18px;
        }
        @include md-screen {
            text-align: center;
        }
        @include sm-screen {
            padding: 10px 12px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin-bottom: 0;
            @include xl-screen {
                font-size: 14px;
            }
            @include sm-screen {
                font-size: 12px;
            }
        }
        &--social {
            display: flex;
            justify-content: center;
            @include md-screen {
                padding: 15px 0;
            }
            @include sm-screen {
                padding: 10px 0;
            }
        }
    }
}

#SvgjsLine1030 {
    display: none;
}
#SvgjsLine1024,
#SvgjsLine1071 {
    stroke: var(--black-5);
    stroke-dasharray: 5px;
}
.apexcharts-gridlines-horizontal line {
    stroke: var(--black-5);
    stroke-dasharray: 5px;
}
.apexcharts-xaxis-texts-g text,
.apexcharts-yaxis-texts-g text {
    fill: var(--light-1);
}