.auth {
    position: relative;
    overflow: hidden;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: -120px;
        left: 0;
        transform: translateX(-50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.4;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: -120px;
        right: 0;
        transform: translateX(50%);
        width: 500px;
        height: 500px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.4;
        z-index: -1;
    }
    .g-60 {
        --bs-gutter-x: 60px;
        --bs-gutter-y: 60px;
        @include lg-screen {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 50px;
        }
        @include md-screen {
            --bs-gutter-x: 40px;
            --bs-gutter-y: 40px;
        }
        @include sm-screen {
            --bs-gutter-x: 30px;
            --bs-gutter-y: 30px;
        }
    }
    &--img {
        height: 100%;
        border-radius: 32px;
        overflow: hidden;
        position: relative;
        @include md-screen {
            border-radius: 24px;
        }
        @include sm-screen {
            height: 250px;
            border-radius: 16px;
        }
        @include msm-screen {
            height: 200px;
            border-radius: 10px;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &--form {
        padding: 40px;
        background: var(--gradient-1);
        border-radius: 32px;
        position: relative;
        z-index: 2;
        @include md-screen {
            padding: 30px;
            border-radius: 24px;
        }
        @include sm-screen {
            padding: 25px;
            border-radius: 16px;
        }
        @include msm-screen {
            padding: 20px;
            border-radius: 10px;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 1px;
            background: var(--black-2);
            border-radius: 32px;
            z-index: -1;
            @include md-screen {
                border-radius: 24px;
            }
            @include sm-screen {
                border-radius: 16px;
            }
            @include msm-screen {
                border-radius: 10px;
            }
        }
        &--title {
            text-align: center;
            font-size: 40px;
            line-height: 1.2;
            font-weight: 700;
            color: var(--white-1);
            margin-bottom: 48px;
            @include lg-screen {
                font-size: 35px;
                margin-bottom: 43px;
            }
            @include md-screen {
                font-size: 30px;
                margin-bottom: 38px;
            }
            @include sm-screen {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 33px;
            }
            @include msm-screen {
                font-size: 20px;
                margin-bottom: 28px;
            }
        }
        &--body {
            overflow: hidden;
        }
        &--google {
            display: block;
            font-size: 15px;
            line-height: 1.3;
            font-weight: 500;
            padding: 14px 20px;
            color: var(--white-1);
            background: color-mix(in srgb, var(--white-1), transparent 96%);
            border: 1px solid color-mix(in srgb, var(--white-1), transparent 96%);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            @include md-screen {
                font-size: 13px;
                padding: 12px 16px;
            }
            @include sm-screen {
                padding: 10px 13px;
                border-radius: 6px;
            }
            @include msm-screen {
                font-size: 11px;
                padding: 8px 10px;
            }
            img {
                width: 23px;
                height: 23px;
                @include md-screen {
                    width: 20px;
                    height: 20px;
                }
                @include sm-screen {
                    width: 18px;
                    height: 18px;
                }
            }
            &:hover {
                border-color: var(--base-2);
            }
        }
        &--devider {
            width: max-content;
            font-size: 15px;
            line-height: 1.2;
            color: color-mix(in srgb, var(--white-1), transparent 60%);
            padding-inline: 20px;
            margin: 32px auto;
            position: relative;
            @include md-screen {
                font-size: 13px;
                padding-inline: 15px;
                margin: 24px auto;
            }
            @include msm-screen {
                font-size: 11px;
                padding-inline: 10px;
                margin: 16px auto;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                width: 50vw;
                height: 1px;
                background: color-mix(in srgb, var(--white-1), transparent 80%);
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                width: 50vw;
                height: 1px;
                background: color-mix(in srgb, var(--white-1), transparent 80%);
            }
        }
        .g-20 {
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
            @include sm-screen {
                --bs-gutter-x: 15px;
                --bs-gutter-y: 15px;
            }
        }
        .form-control {
            background: color-mix(in srgb, var(--white-1), transparent 96%);
            border: 1px solid color-mix(in srgb, var(--white-1), transparent 96%);
            &:focus {
                border-color: var(--base-2);
            }
        }
        &--link {
            font-size: 15px;
            line-height: 1.3;
            font-weight: 500;
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
            position: relative;
            @include md-screen {
                font-size: 13px;
            }
            @include msm-screen {
                font-size: 11px;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--gradient-1);
                opacity: 0;
                transition: .3s;
            }
            &:hover {
                color: transparent;
                &::after {
                    opacity: 1;
                }
            }
        }
        .btn {
            border-radius: 12px;
            margin-top: 20px;
            @include md-screen {
                border-radius: 9px;
                margin-top: 15px;
            }
            @include sm-screen {
                border-radius: 6px;
                margin-top: 10px;
            }
        }
        &--txt {
            text-align: center;
            font-size: 15px;
            line-height: 1.3;
            font-weight: 500;
            margin-bottom: 0;
            @include md-screen {
                font-size: 13px;
            }
            @include msm-screen {
                font-size: 11px;
            }
        }
    }
}