*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: hsl(var(--body-color));
    word-break: break-word;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 18px;
    background: var(--black-2);
    color: var(--light-1);
    overflow-x: clip;
    line-height: 1.55;
    @include lg-screen {
        font-size: 16px;
    }
    @include msm-screen {
        font-size: 14px;
    }
}

main {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    font-family: var(--heading-font);
    line-height: 1.3;
    font-weight: 700;
    @include sm-screen {
        margin: 0 0 15px 0;
    }
}

h1 {
    font-size: clamp(1.75rem, 0.1327rem + 3.3694vw, 3.5rem); // Min:28px - Max:56px
}

h2 {
    font-size: clamp(1.5rem, 0.3542rem + 2.6474vw, 3rem); // Min: 24px - Max: 48px
}

h3 {
    font-size: clamp(1.375rem, 0.3353rem + 2.1661vw, 2.5rem); // Min: 22px - Max: 40px
}

h4 {
    font-size: clamp(1.25rem, 0.5569rem + 1.444vw, 2rem); // Min: 20px - Max: 32px
}

h5 {
    font-size: clamp(1.125rem, 0.7784rem + 0.722vw, 1.5rem); // Min: 18px - Max: 24px
}

h6 {
    font-size: clamp(1rem, 0.769rem + 0.4813vw, 1.25rem); // Min: 16 - Max-20
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    transition: .2s linear;
    line-height: 1.3;
}

a {
    display: inline-block;
    transition: .2s linear;
    text-decoration: none;
    color: hsl(var(--base));
    line-height: inherit;
}

a:hover {
    color: hsl(var(--base));
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

select {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: 0;
    background-color: transparent;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

textarea {
    vertical-align: middle;
}

i {
    display: inline-block;
}

section {
    overflow: hidden;
}

.small, small {
    font-size: 0.8em;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1384px;
    }
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
    @include lg-screen {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include md-screen {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include sm-screen {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.pt-120 {
    padding-top: 120px;
    @include lg-screen {
        padding-top: 100px;
    }
    @include md-screen {
        padding-top: 80px;
    }
    @include sm-screen {
        padding-top: 60px;
    }
}

.pb-120 {
    padding-bottom: 120px;
    @include lg-screen {
        padding-bottom: 100px;
    }
    @include md-screen {
        padding-bottom: 80px;
    }
    @include sm-screen {
        padding-bottom: 60px;
    }
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
    @include lg-screen {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include md-screen {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include sm-screen {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.pt-60 {
    padding-top: 60px;
    @include lg-screen {
        padding-top: 50px;
    }
    @include md-screen {
        padding-top: 40px;
    }
    @include sm-screen {
        padding-top: 30px;
    }
}

.pb-60 {
    padding-bottom: 60px;
    @include lg-screen {
        padding-bottom: 50px;
    }
    @include md-screen {
        padding-bottom: 40px;
    }
    @include sm-screen {
        padding-bottom: 30px;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
    .col-xsm-1 {
        flex: 0 0 auto;
        width: 8.33%;
    }
    .col-xsm-2 {
        flex: 0 0 auto;
        width: 16.67%;
    }
    .col-xsm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xsm-4 {
        flex: 0 0 auto;
        width: 33.33%;
    }
    .col-xsm-5 {
        flex: 0 0 auto;
        width: 41.67%;
    }
    .col-xsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xsm-7 {
        flex: 0 0 auto;
        width: 58.33%;
    }
    .col-xsm-8 {
        flex: 0 0 auto;
        width: 66.67%;
    }
    .col-xsm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xsm-10 {
        flex: 0 0 auto;
        width: 83.33%;
    }
    .col-xsm-11 {
        flex: 0 0 auto;
        width: 91.67%;
    }
    .col-xsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.section-heading {
    text-align: center;
    margin-bottom: 60px;
    @include md-screen {
        margin-bottom: 50px;
    }
    @include sm-screen {
        margin-bottom: 40px;
    }
    &.text-start {
        @include sm-screen {
            text-align: center !important;
        }
        .section-heading--subtitle {
            margin-left: 0;
            @include sm-screen {
                margin-left: auto;
            }
        }
    }
    &--subtitle {
        width: max-content;
        display: flex;
        gap: 5px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        margin: 0 auto 16px;
        @include md-screen {
            font-size: 16px;
        }
        @include sm-screen {
            font-size: 14px;
        }
        img {
            height: 19px;
            @include md-screen {
                height: 17px;
            }
            @include sm-screen {
                height: 15px;
            }
        }
        span {
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
        }
    }
    &--title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -1px;
        color: var(--white-1);
        margin-bottom: 16px;
        @include md-screen {
            font-size: 35px;
        }
        @include sm-screen {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: normal;
        }
        span {
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 3px;
                left: 0;
                width: 100%;
                height: 2px;
                background: var(--base-1);
            }
        }
    }
    &--desc {
        font-size: 16px;
        line-height: 1.5;
        color: var(--light-1);
        margin-bottom: 0;
        @include md-screen {
            font-size: 15px;
        }
        @include sm-screen {
            font-size: 14px;
        }
    }
}

.section-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    @include lg-screen {
        padding-top: 50px;
    }
    @include md-screen {
        padding-top: 40px;
    }
    @include sm-screen {
        padding-top: 30px;
    }
}

.pagination {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    @include lg-screen {
        margin-top: 28px;
    }
    @include md-screen {
        margin-top: 20px;
    }
    @include sm-screen {
        margin-top: 12px;
    }
    .page-item {
        &:first-child {
            .page-link {
                font-size: 12px;
                background: var(--gradient-1);
                &::before {
                    content: "";
                    position: absolute;
                    inset: 1px;
                    background: var(--black-2);
                    border-radius: 50%;
                    z-index: -1;
                }
            }
        }
        &:last-child {
            .page-link {
                font-size: 12px;
                background: var(--gradient-1);
                &::before {
                    content: "";
                    position: absolute;
                    inset: 1px;
                    background: var(--black-2);
                    border-radius: 50%;
                    z-index: -1;
                }
            }
        }
        &.active {
            .page-link {
                color: var(--black-2);
                &::after {
                    opacity: 1;
                }
            }
        }
        .page-link {
            background: transparent;
            margin: 0 5px;
            border: 0;
            border-radius: 25px;
            line-height: 40px;
            height: 40px;
            min-width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            padding: 0;
            font-size: 16px;
            color: var(--white-1);
            position: relative;
            z-index: 2;
            @include sm-screen {
                border-radius: 20px;
                line-height: 34px;
                height: 35px;
                min-width: 35px;
                font-size: 14px;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: var(--gradient-1);
                border-radius: 50%;
                opacity: 0;
                transition: .3s;
                z-index: -1;
            }
            &:hover {
                color: var(--black-2);
                &::after {
                    opacity: 1;
                }
            }
            &:focus {
                box-shadow: none;
            }
            i {
                transform: translate(0);
                font-size: 1.5em;
            }
        }
    }
}

.scroll {
    &.os-theme-dark>.os-scrollbar, .os-theme-light>.os-scrollbar {
        padding: 0;
    }
    &.os-theme-dark>.os-scrollbar-vertical, .os-theme-light>.os-scrollbar-vertical {
        width: 6px;
        background: transparent;
        border-radius: 3px;
    }
    &.os-theme-dark>.os-scrollbar-horizontal, .os-theme-light>.os-scrollbar-horizontal {
        height: 6px;
        background: transparent;
        border-radius: 3px;
    }
    &.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
        background: var(--black-6);
        transition: background .3s !important;
        &.active {
            background: var(--black-7);
        }
    }
    &.os-theme-dark>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle {
        background: var(--black-7);
    }
}

.card {
    padding: 24px 32px;
    background: color-mix(in srgb, var(--black-3), transparent 70%);
    border-color: color-mix(in srgb, var(--black-4), transparent 30%);
    border-radius: 16px;
    &-header {
        color: var(--light-1);
        padding: 0;
        padding-bottom: 24px;
        border-bottom: 2px dashed var(--black-4);
    }
    &-title {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 500;
        color: var(--white-1);
        margin-bottom: 0;
        span {
            color: transparent;
            background: var(--gradient-1);
            background-clip: text;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 3px;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--gradient-1);
            }
        }
    }
    &--select {
        flex-shrink: 0;
        display: flex;
        gap: 8px;
        align-items: center;
        span {
            font-size: 14px;
            line-height: 1.5;
        }
        select {
            height: 34px;
            font-size: 12px;
            color: var(--white-1);
            padding: 0 30px 0 12px;
            background: transparent;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 128 128'%3E%3Cg%3E%3Cpath d='M64 88a3.988 3.988 0 0 1-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0L64 78.344l37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40A3.988 3.988 0 0 1 64 88z' fill='%23ffffff' /%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: calc(100% - 10px);
            background-size: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 1px solid var(--black-4);
            border-radius: 20px;
            outline: none;
            transition: .3s;
            option {
                background: var(--black-3);
            }
        }
    }
    &-body {
        padding: 0;
        padding-top: 24px;
    }
}