.table-wrap {
    background-size: 25%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 1500px;
        height: 200px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(120px);
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        width: 1500px;
        height: 200px;
        background: var(--gradient-1);
        border-radius: 50%;
        filter: blur(120px);
        z-index: -1;
    }
    .table {
        min-width: max-content;
        margin-bottom: 0;
        th {
            font-family: var(--heading-font);
            font-size: 24px;
            line-height: 1.5;
            font-weight: 500;
            color: var(--white-1);
            padding: 20px 32px;
            background: color-mix(in srgb, var(--black-2), transparent 15%);
            border-bottom: 5px solid transparent;
            position: relative;
            z-index: 2;
            @include xxl-screen {
                font-size: 22px;
                padding: 15px 24px;
                border-bottom-width: 4px;
            }
            @include md-screen {
                font-size: 20px;
                border-bottom-width: 3px;
            }
            @include sm-screen {
                font-size: 18px;
                font-weight: 400;
                padding: 10px 16px;
            }
            @include msm-screen {
                font-size: 16px;
                padding: 8px 10px;
                border-bottom-width: 2px;
            }
            &:last-child {
                &::after {
                    border-right-width: 0;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: -5px;
                right: 0;
                border-bottom: 5px solid transparent;
                border-right: 1px solid transparent;
                border-image: var(--gradient-1);
                border-image-slice: 1;
            }
        }
        td {
            vertical-align: middle;
            font-size: 18px;
            line-height: 1.5;
            font-weight: 300;
            color: var(--light-1);
            padding: 20px 32px;
            background: color-mix(in srgb, var(--black-2), transparent 10%);
            border: 0;
            position: relative;
            z-index: 2;
            @include xxl-screen {
                font-size: 17px;
                padding: 15px 24px;
            }
            @include md-screen {
                font-size: 16px;
            }
            @include sm-screen {
                font-size: 14px;
                padding: 10px 16px;
            }
            @include msm-screen {
                font-size: 12px;
                padding: 8px 10px;
            }
            &:last-child {
                &::after {
                    border-right-width: 0;
                }
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                border-image: var(--gradient-1);
                border-image-slice: 1;
            }
        }
        &--btn-group {
            display: flex;
            gap: 4px;
            padding: 5px 7px;
            background: var(--gradient-1);
            border-radius: 12px;
            position: relative;
            z-index: 2;
            @include xl-screen {
                padding: 4px 6px;
                border-radius: 9px;
            }
            @include sm-screen {
                padding: 3px 4px;
                border-radius: 6px;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 1px;
                background: var(--black-2);
                border-radius: 12px;
                z-index: -1;
                @include xl-screen {
                    border-radius: 9px;
                }
                @include sm-screen {
                    border-radius: 6px;
                }
            }
        }
        &--btn {
            width: calc(50% - 2px);
            min-width: max-content;
            text-align: center;
            font-size: 15px;
            line-height: 1.1;
            font-weight: 500;
            padding: 8px 25px;
            border-radius: 8px;
            @include xl-screen {
                font-size: 14px;
                padding: 6px 20px;
                border-radius: 6px;
            }
            @include sm-screen {
                font-size: 12px;
                padding: 5px 15px;
                border-radius: 4px;
            }
            &-primary {
                color: var(--black-2);
                background: linear-gradient(to right, var(--base-2), var(--base-1), var(--base-2), var(--base-1));
                background-repeat: no-repeat;
                background-size: 150%;
                background-position-x: left;
                &:hover, &:focus, &:active {
                    background-position-x: right;
                }
            }
            &-secondary {
                background: var(--black-4);
                background: linear-gradient(to right, var(--black-4), var(--black-4), var(--black-4), var(--black-3), var(--black-5), var(--black-3));
                background-repeat: no-repeat;
                background-size: 250%;
                background-position-x: left;
                &:hover, &:focus, &:active {
                    background-position-x: right;
                }
            }
        }
    }
}