@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

:root {
    --heading-font: "Jost", sans-serif;
    --body-font: "Manrope", sans-serif;

    /* Whites */
    --white-1: rgb(255, 255, 255);
    --white-2: rgb(253, 253, 253);
    --white-3: rgb(250, 250, 250);
    --white-4: rgb(247, 247, 247);
    --white-5: rgb(242, 242, 242);
    --white-6: rgb(237, 237, 237);
    --white-7: rgb(230, 230, 230);
    --white-8: rgb(222, 222, 222);
    --white-9: rgb(214, 214, 214);

    /* Blacks */
    --black-1: rgb(0, 0, 0);
    --black-2: rgb(10, 10, 10);
    --black-3: rgb(20, 20, 20);
    --black-4: rgb(31, 31, 31);
    --black-5: rgb(42, 42, 42);
    --black-6: rgb(51, 51, 51);
    --black-7: rgb(77, 77, 77);
    --black-8: rgb(102, 102, 102);
    --black-9: rgb(128, 128, 128);

    /* Accent & Lights */
    --light-1: rgb(229, 229, 229);
    --base-1: rgb(220, 186, 88);
    --base-2: rgb(186, 123, 7);

    /* Gradients */
    --black-gradient: linear-gradient(to left, rgba(3, 7, 10, 0.59), rgba(3, 7, 10, 0.67), rgba(3, 7, 10, 0.59));
    --gradient-1: linear-gradient(to left, var(--base-2), var(--base-1), var(--base-2));
}