@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

:root {
    --heading-font: "Jost", sans-serif;
    --body-font: "Manrope", sans-serif;

    --white-1: #ffffff;
    --white-2: #fdfdfd;
    --white-3: #fafafa;
    --white-4: #f7f7f7;
    --white-5: #f2f2f2;
    --white-6: #ededed;
    --white-7: #e6e6e6;
    --white-8: #dedede;
    --white-9: #d6d6d6;

    --black-1: #000000;
    --black-2: #0a0a0a;
    --black-3: #141414;
    --black-4: #1f1f1f;
    --black-5: #2a2a2a;
    --black-6: #333333;
    --black-7: #4d4d4d;
    --black-8: #666666;
    --black-9: #808080;

    --light-1: #E5E5E5;

    --base-1: #DCBA58;
    --base-2: #BA7B07;

    --black-gradient: linear-gradient(to left, #03070a96, #03070aab, #03070a96);
    --gradient-1: linear-gradient(to left, var(--base-2), var(--base-1), var(--base-2));
}